fluxo/atual 02_02_Google Sheets → Supabase UPSERT Completo (FINAL CORRIGIDO) (1).json
{
  "name": "Google Sheets → Supabase UPSERT Completo (FINAL CORRIGIDO)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// ========================================\n// CÓDIGO CORRIGIDO PARA O NÓ \"⚙️ Decidir Ação\"\n// ========================================\n\n// 1. PEGA OS DADOS DA PLANILHA (Edit Fields)\n// Agora busca do nó específico ao invés de usar índice\nconst planilhaItems = $('Edit Fields').all();\n\n// 2. PEGA OS DADOS DO BANCO (Supabase)\n// Busca do nó de busca do Supabase\nconst supabaseItems = $('🔍 Buscar Todos Registros Supabase2').all();\n\n// 3. VALIDAÇÃO: Garante que recebemos os dados\nif (!planilhaItems || planilhaItems.length === 0) {\n  throw new Error('❌ Nenhum dado da planilha recebido! Verifique a conexão com \"Edit Fields\"');\n}\n\nconsole.log(`✅ Dados recebidos:`);\nconsole.log(`   - Planilha: ${planilhaItems.length} registros`);\nconsole.log(`   - Supabase: ${supabaseItems.length} registros`);\n\n// 4. CRIA MAPA DO BANCO PARA BUSCA RÁPIDA\nconst bancoMap = {};\nfor (const item of supabaseItems) {\n  if (item.json && item.json.chapa) {\n    const chapa = String(item.json.chapa).trim();\n    bancoMap[chapa] = item.json;\n  }\n}\n\nconsole.log(`📊 Mapa do banco criado com ${Object.keys(bancoMap).length} chapas`);\n\n// 5. CONTADORES PARA LOG\nlet insertsCount = 0;\nlet updatesCount = 0;\nlet skipsCount = 0;\n\n// 6. COMPARA E DECIDE AÇÃO PARA CADA ITEM DA PLANILHA\nconst resultado = planilhaItems.map((pItem, index) => {\n  const row = pItem.json;\n  \n  // Valida se tem chapa\n  if (!row.chapa) {\n    console.log(`⚠️ Linha ${index + 1}: Sem chapa, pulando...`);\n    skipsCount++;\n    return { json: { ...row, operation: 'skip', motivo: 'sem_chapa' } };\n  }\n  \n  const chapa = String(row.chapa).trim();\n  const dadoBanco = bancoMap[chapa];\n\n  // SE NÃO EXISTE NO BANCO → INSERT\n  if (!dadoBanco) {\n    insertsCount++;\n    return { json: { ...row, operation: 'insert' } };\n  }\n\n  // SE EXISTE NO BANCO → VERIFICA SE TEM MUDANÇAS\n  let hasChanges = false;\n  const ignore = ['id', 'created_at', 'updated_at', 'operation', 'motivo'];\n  const changedFields = [];\n  \n  for (const key of Object.keys(row)) {\n    if (ignore.includes(key)) continue;\n    \n    const valorPlanilha = String(row[key] || '').trim();\n    const valorBanco = String(dadoBanco[key] || '').trim();\n    \n    if (valorPlanilha !== valorBanco) {\n      hasChanges = true;\n      changedFields.push(key);\n    }\n  }\n\n  if (hasChanges) {\n    updatesCount++;\n    return { \n      json: { \n        ...row, \n        operation: 'update',\n        id: dadoBanco.id, // Adiciona o ID do banco para o UPDATE\n        campos_alterados: changedFields.join(', ')\n      } \n    };\n  } else {\n    skipsCount++;\n    return { json: { ...row, operation: 'skip', motivo: 'sem_alteracoes' } };\n  }\n});\n\n// 7. LOG FINAL COM ESTATÍSTICAS\nconsole.log(`\\n📊 RESULTADO DA ANÁLISE:`);\nconsole.log(`   ✅ Inserts: ${insertsCount}`);\nconsole.log(`   🔄 Updates: ${updatesCount}`);\nconsole.log(`   ⏭️  Skips: ${skipsCount}`);\nconsole.log(`   📦 Total: ${resultado.length}`);\n\n// 8. RETORNA TODOS OS ITENS COM A OPERAÇÃO DEFINIDA\nreturn resultado;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        -2288
      ],
      "id": "51b95026-f7a4-4c09-93f2-9b15c2f2b31c",
      "name": "⚙️ Decidir Ação"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.operation }}",
              "rightValue": "insert",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "5eb691ac-e627-47f0-8995-03daad6ac1d2"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -656,
        -2352
      ],
      "id": "03c92591-81fd-4ff7-85fc-217ca0f874b4",
      "name": "❓ É INSERT?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.operation }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "2f14db75-3787-4a0a-b290-2313eb6d5274"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -576,
        -2048
      ],
      "id": "c1026646-0fc1-45f4-81d9-1b6510db5268",
      "name": "❓ É UPDATE?"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "='1Axzocv5JqWwo3_HYARQgL900mGfyyaOq' in parents and trashed=false and mimeType='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' and name contains 'Controle de Liberação Complexo Azulão 950'"
            },
            {
              "name": "orderBy",
              "value": "modifiedTime desc"
            },
            {
              "name": "fields",
              "value": "files(id,name,modifiedTime)"
            },
            {
              "name": "pageSize",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2336,
        -2144
      ],
      "id": "399d50e7-32f7-46a3-8d29-bb298a970e69",
      "name": "📋 HTTP: Listar arquivo1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tpLkUuyanL84uJZR",
          "name": "Google Drive "
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const files = $json.files || [];\nif (!files.length) throw new Error('Nenhum arquivo encontrado');\nreturn [{ json: files[0] }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2112,
        -2144
      ],
      "id": "f7a0acb7-c2d1-448a-abd2-21b135b6eacd",
      "name": "🔍 Pegar mais recente1"
    },
    {
      "parameters": {
        "url": "={{ 'https://www.googleapis.com/drive/v3/files/' + $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "alt",
              "value": "media"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1888,
        -2144
      ],
      "id": "362e545e-103f-42d5-9ebd-b4b20f18d6e4",
      "name": "⬇️ HTTP: Baixar XLSX1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tpLkUuyanL84uJZR",
          "name": "Google Drive "
        }
      }
    },
    {
      "parameters": {
        "options": {
          "range": "A7:AZ5000",
          "sheetName": "PR-1 ELECNOR"
        }
      },
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        -1664,
        -2144
      ],
      "id": "36177c24-43e9-4af0-97da-7d4ff3304963",
      "name": "📊 Ler XLSX1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "liberation_data",
        "limit": 10000
      },
      "executeOnce": true,
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1104,
        -2032
      ],
      "id": "afc86559-a1b5-4853-9529-54285afcaa48",
      "name": "🔍 Buscar Todos Registros Supabase2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Edgoxnq69Vx3Bv5T",
          "name": "Supabase_Sistema"
        }
      }
    },
    {
      "parameters": {
        "tableId": "liberation_data",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chapa",
              "fieldValue": "={{ $json.chapa }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            },
            {
              "fieldId": "funcao",
              "fieldValue": "={{ $json.funcao }}"
            },
            {
              "fieldId": "area",
              "fieldValue": "={{ $json.area }}"
            },
            {
              "fieldId": "cid",
              "fieldValue": "={{ $json.cid }}"
            },
            {
              "fieldId": "rh",
              "fieldValue": "={{ $json.rh }}"
            },
            {
              "fieldId": "saude",
              "fieldValue": "={{ $json.saude }}"
            },
            {
              "fieldId": "seguranca",
              "fieldValue": "={{ $json.seguranca }}"
            },
            {
              "fieldId": "grd",
              "fieldValue": "={{ $json.grd }}"
            },
            {
              "fieldId": "obs_grd",
              "fieldValue": "={{ $json.obs_grd }}"
            },
            {
              "fieldId": "data_admissao",
              "fieldValue": "={{ $json.data_admissao }}"
            },
            {
              "fieldId": "liberacao_ecoordin",
              "fieldValue": "={{ $json.liberacao_ecoordin }}"
            },
            {
              "fieldId": "envio_cliente",
              "fieldValue": "={{ $json.envio_cliente }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -256,
        -2400
      ],
      "id": "cde2cb7b-1a21-4792-9798-6c3e035de821",
      "name": "➕ Inserir no Supabase2",
      "credentials": {
        "supabaseApi": {
          "id": "Edgoxnq69Vx3Bv5T",
          "name": "Supabase_Sistema"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * MAPEAMENTO DE DADOS: Planilha -> Tabela liberation_data\n * FILTRO: Apenas admissões a partir de 01/01/2026\n * LOGS: Ativados para depuração de contagem\n */\n\nfunction excelSerialToDate(serial) {\n  const excelEpoch = new Date(Date.UTC(1899, 11, 30));\n  return new Date(excelEpoch.getTime() + Number(serial) * 86400000);\n}\n\nfunction parseDate(value) {\n  if (!value || value === \"\") return null;\n  if (value instanceof Date && !isNaN(value)) return value;\n  if (typeof value === 'number') return excelSerialToDate(value);\n  const str = String(value).trim();\n  const dmy = str.match(/^(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{4})$/);\n  if (dmy) {\n    const [, d, m, y] = dmy;\n    return new Date(Date.UTC(+y, +m - 1, +d));\n  }\n  const iso = new Date(str);\n  return isNaN(iso) ? null : iso;\n}\n\nfunction formatISO(date) {\n  return date ? date.toISOString().split('T')[0] : null;\n}\n\nfunction normalizeKey(key) {\n  return key?.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').replace(/[^a-z0-9]/g, '') || '';\n}\n\nfunction getField(row, ...variants) {\n  const keys = Object.keys(row);\n  for (const v of variants) {\n    const target = normalizeKey(v);\n    for (const k of keys) {\n      if (normalizeKey(k) === target) return row[k];\n    }\n  }\n  return null;\n}\n\nconst items = $input.all();\nconst output = [];\nconst DATA_CORTE = new Date(Date.UTC(2026, 0, 1));\n\nconsole.log(`🚀 Iniciando processamento de ${items.length} linhas...`);\n\nfor (const item of items) {\n  const row = item.json || {};\n  \n  const chapa = String(getField(row, 'MAT', 'MATRICULA', 'CHAPA', 'chapa') || '').trim();\n  const nome = String(getField(row, 'NOME', 'NOME COMPLETO', 'nome') || '').trim();\n  \n  if (!chapa || !nome || nome.toLowerCase().includes('mat')) continue;\n\n  const rawAdmissao = getField(row, 'DATA ADMISSÃO', 'ADMISSAO', 'DATA ADMISSAO', 'DATA ADMISSION');\n  const objDateAdmissao = parseDate(rawAdmissao);\n\n  if (!objDateAdmissao || objDateAdmissao < DATA_CORTE) {\n     // Log de depuração para o usuário ver quem saiu\n     if (chapa === '51624' || nome.includes('ZOE')) {\n       console.log(`⚠️ ZOE ANGEL filtrada! Data: ${rawAdmissao} -> Interpretada: ${objDateAdmissao}`);\n     }\n     continue;\n  }\n\n  const rowData = {\n    chapa,\n    nome,\n    funcao: getField(row, 'FUNÇÃO RM ATUALIZADA', 'FUNCAO', 'CARGO'),\n    area: getField(row, 'AREA DE NEGOCIO', 'AREA'),\n    cid: getField(row, 'CIP DE LIBERAÇÃO', 'CIP'),\n    rh: getField(row, 'RH'),\n    saude: getField(row, 'SAÚDE', 'SAUDE'),\n    seguranca: getField(row, 'SEGURANÇA', 'SEGURANCA'),\n    grd: getField(row, 'GRD'),\n    obs_grd: getField(row, 'OBSERVAÇÃO GRD', 'OBS'),\n    data_admissao: formatISO(objDateAdmissao),\n    liberacao_ecoordin: formatISO(parseDate(getField(row, 'DATA DE LIBERAÇÃO E-COORDINA'))),\n    envio_cliente: formatISO(parseDate(getField(row, 'ENVIO PARA O CLIENTE', 'ENVIO CLIENTE')))\n  };\n\n  output.push({ json: rowData });\n}\n\nconsole.log(`✅ Concluído: ${output.length} registros passaram pelo filtro.`);\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1744,
        -2368
      ],
      "id": "a7837459-f0a5-4313-b82e-79d9ea663db9",
      "name": "Transformar_Dados1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41581d84-abab-411b-bf8d-b44f57a05cf1",
              "name": "chapa",
              "value": "={{ $json.chapa }}",
              "type": "string"
            },
            {
              "id": "fe603081-effe-4e38-acf3-30c290679287",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "2ea2f382-dfb1-4d7e-afc6-6436e7af6fd2",
              "name": "funcao",
              "value": "={{ $json.funcao }}",
              "type": "string"
            },
            {
              "id": "864b9051-131a-4284-95db-0ba14b497528",
              "name": "area",
              "value": "={{ $json.area }}",
              "type": "string"
            },
            {
              "id": "9adc6eac-e70d-42e7-9800-8bb3e1dbd0f6",
              "name": "cid",
              "value": "={{ $json.cid }}",
              "type": "string"
            },
            {
              "id": "4e12b173-559a-4cfa-ab7e-1226bd9fa634",
              "name": "rh",
              "value": "={{ $json.rh }}",
              "type": "string"
            },
            {
              "id": "3a029192-ab1e-4230-9a72-76dc8ead43b1",
              "name": "saude",
              "value": "={{ $json.saude }}",
              "type": "string"
            },
            {
              "id": "c3a26425-1417-4b70-8f3f-3e4a9a3709fc",
              "name": "seguranca",
              "value": "={{ $json.seguranca }}",
              "type": "string"
            },
            {
              "id": "94d6d946-f176-4fc4-82d7-fc6bb97ba67a",
              "name": "grd",
              "value": "={{ $json.grd }}",
              "type": "string"
            },
            {
              "id": "fc7dd8b2-d2b0-4331-ac99-590b446fc01c",
              "name": "obs_grd",
              "value": "={{ $json.obs_grd }}",
              "type": "string"
            },
            {
              "id": "5f840fd3-e39e-4c95-b53e-0478b27e6495",
              "name": "data_admissao",
              "value": "={{ $json.data_admissao }}",
              "type": "string"
            },
            {
              "id": "9f3fece3-433f-43cb-9687-993a17009104",
              "name": "liberacao_ecoordin",
              "value": "={{ $json.liberacao_ecoordin }}",
              "type": "string"
            },
            {
              "id": "8b50fd0a-dbd1-4215-8bd2-28a1456c19e1",
              "name": "envio_cliente",
              "value": "={{ $json.envio_cliente }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1264,
        -2320
      ],
      "id": "8da6d280-537d-4b40-97d8-5e08d98a001e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "liberation_data",
        "filters": {
          "conditions": [
            {
              "keyName": "chapa",
              "condition": "eq",
              "keyValue": "={{ $json.chapa }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chapa",
              "fieldValue": "={{ $json.chapa }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            },
            {
              "fieldId": "funcao",
              "fieldValue": "={{ $json.funcao }}"
            },
            {
              "fieldId": "area",
              "fieldValue": "={{ $json.area }}"
            },
            {
              "fieldId": "cid",
              "fieldValue": "={{ $json.cid }}"
            },
            {
              "fieldId": "rh",
              "fieldValue": "={{ $json.rh }}"
            },
            {
              "fieldId": "saude",
              "fieldValue": "={{ $json.saude }}"
            },
            {
              "fieldId": "seguranca",
              "fieldValue": "={{ $json.seguranca }}"
            },
            {
              "fieldId": "grd",
              "fieldValue": "={{ $json.grd }}"
            },
            {
              "fieldId": "obs_grd",
              "fieldValue": "={{ $json.obs_grd }}"
            },
            {
              "fieldId": "data_admissao",
              "fieldValue": "={{ $json.data_admissao }}"
            },
            {
              "fieldId": "liberacao_ecoordin",
              "fieldValue": "={{ $json.liberacao_ecoordin }}"
            },
            {
              "fieldId": "envio_cliente",
              "fieldValue": "={{ $json.envio_cliente }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -320,
        -2064
      ],
      "id": "4a7c4666-5a1e-4ab9-a0b5-2d017891dd13",
      "name": "➕ Inserir no Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "Edgoxnq69Vx3Bv5T",
          "name": "Supabase_Sistema"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Axzocv5JqWwo3_HYARQgL900mGfyyaOq",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "9a05469a-0464-4faf-bf13-5e1d4f1bb60d",
      "name": "🚀 Gatilho: Novo Arquivo Drive",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2752,
        -2304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tpLkUuyanL84uJZR",
          "name": "Google Drive "
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Axzocv5JqWwo3_HYARQgL900mGfyyaOq",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "e0ec2092-602f-4fca-ac39-5569cb86c5c0",
      "name": "🚀 Gatilho: Novo Arquivo Drive1",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2768,
        -2032
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tpLkUuyanL84uJZR",
          "name": "Google Drive "
        }
      }
    },
    {
      "parameters": {
        "height": 736,
        "width": 2896,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2928,
        -2448
      ],
      "typeVersion": 1,
      "id": "f6b35149-fe6d-4a56-a63b-25f9fdd18a98",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "/**\n * MAPEAMENTO DE DADOS: Planilha -> Tabela liberation_data\n * FILTRO: Apenas admissões a partir de 01/01/2026\n * LOGS: Ativados para depuração de contagem\n */\n\nfunction excelSerialToDate(serial) {\n  const excelEpoch = new Date(Date.UTC(1899, 11, 30));\n  return new Date(excelEpoch.getTime() + Number(serial) * 86400000);\n}\n\nfunction parseDate(value) {\n  if (!value || value === \"\") return null;\n  if (value instanceof Date && !isNaN(value)) return value;\n  if (typeof value === 'number') return excelSerialToDate(value);\n  const str = String(value).trim();\n  const dmy = str.match(/^(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{4})$/);\n  if (dmy) {\n    const [, d, m, y] = dmy;\n    return new Date(Date.UTC(+y, +m - 1, +d));\n  }\n  const iso = new Date(str);\n  return isNaN(iso) ? null : iso;\n}\n\nfunction formatISO(date) {\n  return date ? date.toISOString().split('T')[0] : null;\n}\n\nfunction normalizeKey(key) {\n  return key?.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').replace(/[^a-z0-9]/g, '') || '';\n}\n\nfunction getField(row, ...variants) {\n  const keys = Object.keys(row);\n  for (const v of variants) {\n    const target = normalizeKey(v);\n    for (const k of keys) {\n      if (normalizeKey(k) === target) return row[k];\n    }\n  }\n  return null;\n}\n\nconst items = $input.all();\nconst output = [];\nconst DATA_CORTE = new Date(Date.UTC(2026, 0, 1));\n\nconsole.log(`🚀 Iniciando processamento de ${items.length} linhas...`);\n\nfor (const item of items) {\n  const row = item.json || {};\n  \n  const chapa = String(getField(row, 'MAT', 'MATRICULA', 'CHAPA', 'chapa') || '').trim();\n  const nome = String(getField(row, 'NOME', 'NOME COMPLETO', 'nome') || '').trim();\n  \n  if (!chapa || !nome || nome.toLowerCase().includes('mat')) continue;\n\n  const rawLiberacao = getField(row, 'DATA DE LIBERAÇÃO E-COORDINA', 'DATA DE LIBERACAO E-COORDINA', 'liberacao_ecoordin');\n  const objDateLiberacao = parseDate(rawLiberacao);\n\n  if (!objDateLiberacao || objDateLiberacao < DATA_CORTE) {\n     // Log de depuração para o usuário ver quem saiu\n     if (chapa === '51624' || nome.includes('ZOE')) {\n       console.log(`⚠️ ZOE ANGEL filtrada! Liberação: ${rawLiberacao} -> Interpretada: ${objDateLiberacao}`);\n     }\n     continue;\n  }\n\n  const rowData = {\n    chapa,\n    nome,\n    funcao: getField(row, 'FUNÇÃO RM ATUALIZADA', 'FUNCAO', 'CARGO'),\n    area: getField(row, 'AREA DE NEGOCIO', 'AREA'),\n    cid: getField(row, 'CIP DE LIBERAÇÃO', 'CIP'),\n    rh: getField(row, 'RH'),\n    saude: getField(row, 'SAÚDE', 'SAUDE'),\n    seguranca: getField(row, 'SEGURANÇA', 'SEGURANCA'),\n    grd: getField(row, 'GRD'),\n    obs_grd: getField(row, 'OBSERVAÇÃO GRD', 'OBS'),\n    data_admissao: formatISO(parseDate(getField(row, 'DATA ADMISSÃO', 'ADMISSAO'))),\n    liberacao_ecoordin: formatISO(objDateLiberacao),\n    envio_cliente: formatISO(parseDate(getField(row, 'ENVIO PARA O CLIENTE', 'ENVIO CLIENTE')))\n  };\n\n  output.push({ json: rowData });\n}\n\nconsole.log(`✅ Concluído: ${output.length} registros passaram pelo filtro.`);\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        -2272
      ],
      "id": "5f144b3d-bbee-4660-8748-3dfa7d4e0b8f",
      "name": "🔄 Transformar dados4"
    }
  ],
  "pinData": {
    "Transformar_Dados1": [
      {
        "json": {
          "chapa": "56197",
          "nome": "ADELAR CHAVES",
          "funcao": "LIDER DE PRODUÇÃO",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-22",
          "envio_cliente": "2026-01-22"
        }
      },
      {
        "json": {
          "chapa": "56135",
          "nome": "ADEMAR DA SILVA LEAL",
          "funcao": "ENCARREGADO DE MANUTENÇÃO ELETRICA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "PENDENTE",
          "grd": "OK",
          "obs_grd": "PENDENCIAS SEGURANÇA",
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": null
        }
      },
      {
        "json": {
          "chapa": "56121",
          "nome": "ADEMIR JOSE DA SILVA",
          "funcao": "ENCARREGADO DE TURMA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56192",
          "nome": "ADSON QUEIROZ DA SILVA",
          "funcao": "ENCARREGADO DE TURMA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-15",
          "liberacao_ecoordin": "2026-01-22",
          "envio_cliente": "2026-01-22"
        }
      },
      {
        "json": {
          "chapa": "56175",
          "nome": "ALBERT CAUE DOS SANTOS ALVES",
          "funcao": "SOLDADOR II TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-28"
        }
      },
      {
        "json": {
          "chapa": "56186",
          "nome": "ALBERT LEITE SANTOS",
          "funcao": "ASSISTENTE ADMINISTRATIVO",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-28"
        }
      },
      {
        "json": {
          "chapa": "56277",
          "nome": "ALBERTO VALNEI DE SOUZA SANTOS",
          "funcao": "ASSISTENTE ADMINISTRATIVO",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56100",
          "nome": "ALCI JOHNNY DA SILVA MALHANO",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.4",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-22"
        }
      },
      {
        "json": {
          "chapa": "56289",
          "nome": "ALESSANDRO PEREIRA LIMA",
          "funcao": "ENCARREGADO DE ELETRICA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56160",
          "nome": "ALEXANDRE RODRIGUES DE SANTANA",
          "funcao": "CALDEIREIRO TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.5",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56169",
          "nome": "ALISSON NUNES DE SOUZA",
          "funcao": "ENCARREGADO DE TURMA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56263",
          "nome": "ALISSON VALNEI SANTOS BARBOSA",
          "funcao": "MEIO OFICIAL DE INSTRUMENTAÇÃO",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.4",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56134",
          "nome": "ALTEMAR FERREIRA GUILHERME",
          "funcao": "APONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56267",
          "nome": "ANDERSON MARTINS DA SILVA",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56093",
          "nome": "ANDERSON RODRIGUES VARJAO",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56287",
          "nome": "ANDERSON SILVA PAIVA",
          "funcao": "ENCARREGADO DE ELETRICA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "PENDENTE",
          "seguranca": "PENDENTE",
          "grd": "OK",
          "obs_grd": "CARTÃO DE VACINA",
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": null,
          "envio_cliente": null
        }
      },
      {
        "json": {
          "chapa": "56210",
          "nome": "ANDRE SIQUEIRA DE MASSENA",
          "funcao": "ENCANADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.4",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56211",
          "nome": "ANTONIO ANDRADE DOS SANTOS",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56123",
          "nome": "ANTONIO CARLOS ARAUJO DA CUNHA",
          "funcao": "ENCARREGADO DE TURMA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.3",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56112",
          "nome": "ANTONIO CARLOS CARIRI SANTOS",
          "funcao": "ENCANADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.4",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56107",
          "nome": "ANTONIO DE MELO NETO",
          "funcao": "ENCANADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.4",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": "PENDECIAS SEGURANÇA",
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-20",
          "envio_cliente": "2026-01-20"
        }
      },
      {
        "json": {
          "chapa": "56206",
          "nome": "ANTONIO IRANILTON DE SOUZA",
          "funcao": "SOLDADOR II TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56108",
          "nome": "ANTONIO MARCIO DE CARVALHO SANTOS",
          "funcao": "TECNICO DE COMISSIONAMENTO",
          "area": "UTE - SPE - Azulão",
          "cid": "UT4.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56088",
          "nome": "ANTONIO MARCOS DA SILVA CAVALCANTE",
          "funcao": "ENCANADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.4",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56250",
          "nome": "ANTONIO RAIDON RODRIGUES",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56148",
          "nome": "AURO STELIO SANTOS PEDROSA",
          "funcao": "ENCANADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.4",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56128",
          "nome": "BRUNO DA HORA SILVA",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56244",
          "nome": "CICERO DA SILVA CARDEAL",
          "funcao": "ENCARREGADO DE ELETRICA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56152",
          "nome": "CICERO ERIS RODRIGUES",
          "funcao": "MONTADOR DE ANDAIME",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.5",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56252",
          "nome": "CLEITON GOMES LIMA",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56143",
          "nome": "CLEONILDO MOREIRA SALES",
          "funcao": "MONTADOR DE ANDAIME",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.5",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56119",
          "nome": "COSME TORRES DA SILVA",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56181",
          "nome": "DALVAM MIRANDA BARBOSA",
          "funcao": "SOLDADOR II TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-20",
          "envio_cliente": "2026-01-20"
        }
      },
      {
        "json": {
          "chapa": "56275",
          "nome": "DANIEL BARROS DE LIMA",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56094",
          "nome": "DANIEL GOMES DA SILVA",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.3",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-20",
          "envio_cliente": "2026-01-20"
        }
      },
      {
        "json": {
          "chapa": "56217",
          "nome": "DANILO DE SIQUEIRA LIMA",
          "funcao": "ENCARREGADO DE ELETRICA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "Ok",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56194",
          "nome": "DANILO LIMEIRA BATISTA",
          "funcao": "ENCARREGADO DE TURMA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.5",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-22",
          "envio_cliente": "2026-01-22"
        }
      },
      {
        "json": {
          "chapa": "56111",
          "nome": "DAVI FELIPE XAVIER CIRIACO",
          "funcao": "ENCANADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.4",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-20",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56158",
          "nome": "DEIVISON MICAEL DE OLIVEIRA MONTEIRO",
          "funcao": "LIXADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.3",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56295",
          "nome": "DENILSON BARBOSA DOS SANTOS",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56122",
          "nome": "DENILSON DINIZ",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56207",
          "nome": "DERALDO BORGES DOS SANTOS",
          "funcao": "ENCARREGADO DE ALMOXARIFADO",
          "area": "IO - INDIRETO OBRA - SPE - Azulão",
          "cid": "IO16",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-22",
          "envio_cliente": "2026-01-22"
        }
      },
      {
        "json": {
          "chapa": "56166",
          "nome": "DIEGO MACIEL REGO",
          "funcao": "ENCANADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.4",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-22",
          "envio_cliente": "2026-01-22"
        }
      },
      {
        "json": {
          "chapa": "56104",
          "nome": "DIEGO SANTOS HOMEM",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56236",
          "nome": "DIEGO VIEIRA LIMA",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56251",
          "nome": "DIMAS SOARES DE LIMA",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56274",
          "nome": "DIOGO DE JESUS FIGUEREDO SANTOS",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-24",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56177",
          "nome": "DIOGO DE OLIVEIRA GOMES",
          "funcao": "SOLDADOR II TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56248",
          "nome": "DIONISIO JOSE DOS SANTOS NETO",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56238",
          "nome": "DOUGLAS RAFAEL SANTOS BARBOSA",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-26",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56269",
          "nome": "EDENOALDO LUIZ CASTOR",
          "funcao": "ENCARREGADO DE ELETRICA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56140",
          "nome": "EDILSON CARIRI DOS SANTOS",
          "funcao": "ENCANADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.4",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56090",
          "nome": "EDILSON QUARESMA PACHECO JUNIOR",
          "funcao": "ENCANADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.4",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56131",
          "nome": "EDIVALDO DE SOUZA VITORINO",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56120",
          "nome": "EDMILSON DA SILVA SOUSA",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56099",
          "nome": "EDNALDO BEZERRA FEITOSA",
          "funcao": "INSTRUMENTISTA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56245",
          "nome": "EDSON SILVA SANTOS",
          "funcao": "INSTRUMENTISTA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.3.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "Ok",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56085",
          "nome": "ELDER ALFAIA DA GAMA",
          "funcao": "AJUDANTE GERAL TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.3.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-06",
          "liberacao_ecoordin": "2026-01-08",
          "envio_cliente": "2026-01-08"
        }
      },
      {
        "json": {
          "chapa": "56201",
          "nome": "ELIS HELENA DA SILVA PEREIRA",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56227",
          "nome": "ELISON CARDOSO SANTOS",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56154",
          "nome": "EMANUEL FLAVIO CARVALHO DO NASCIMENTO",
          "funcao": "INSTRUMENTISTA TUBISTA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.3.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56193",
          "nome": "EREVALDO RIBEIRO DE SANTANA",
          "funcao": "ENCARREGADO DE ALMOXARIFADO",
          "area": "IO - INDIRETO OBRA - SPE - Azulão",
          "cid": "IO16",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-15",
          "liberacao_ecoordin": "2026-01-21",
          "envio_cliente": "2026-01-21"
        }
      },
      {
        "json": {
          "chapa": "56101",
          "nome": "ERIVALDO RAMOS DE CARVALHO",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56273",
          "nome": "ESMAEL CARLOS CALDAS RODRIGUES",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56151",
          "nome": "ESTENDISLAU NOGUEIRA NETO",
          "funcao": "ENCANADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.4",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56243",
          "nome": "EVERALDO JORGE SANTOS SILVA",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-28"
        }
      },
      {
        "json": {
          "chapa": "56247",
          "nome": "EVERTON ADRIANO FERREIRA DOS SANTOS",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Lzulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56261",
          "nome": "EVERTON BRITO DA CRUZ",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56089",
          "nome": "EXPEDITO EMIDIO SILVA NETO",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-28",
          "envio_cliente": "2026-01-28"
        }
      },
      {
        "json": {
          "chapa": "56150",
          "nome": "EZAU DA SILVA SOUZA",
          "funcao": "LIXADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.3",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56212",
          "nome": "FABIANO RAIMUNDO SUTERIO",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56162",
          "nome": "FABIO HENRIQUE DA SILVA SANTOS",
          "funcao": "LIXADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": null
        }
      },
      {
        "json": {
          "chapa": "56293",
          "nome": "FABIO JOSE DA SILVA PESSOA",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56270",
          "nome": "FELIPE DA ROCHA FERNANDES",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56165",
          "nome": "FERNANDO ARAUJO ALVES",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56294",
          "nome": "FLAVIO JANICLECIO SANTOS GOMES",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56185",
          "nome": "FRANCINERE BEZERRA DA SILVA",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56138",
          "nome": "FRANCISCO PEREIRA DE ARAUJO",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56183",
          "nome": "FRANCISCO SOUSA DE ALMEIDA",
          "funcao": "SOLDADOR II TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56174",
          "nome": "FRANCIVALDO DINIZ MENDONCA",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56144",
          "nome": "FRANCIVALDO FERREIRA RODRIGUES",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-26",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56271",
          "nome": "GABRIEL CASTOR DA SILVA",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "Ok",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56281",
          "nome": "GABRIEL NEVES LIRA",
          "funcao": "AJUDANTE GERAL TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT12",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56292",
          "nome": "GABRIEL VIEIRA DANTAS DE LIMA",
          "funcao": "ENCARREGADO DE ELETRICA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56214",
          "nome": "GENEZIO SILVA FREITAS",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56215",
          "nome": "GENIVALDO SANTOS PEREIRA SALGADO",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56095",
          "nome": "GERSON BEZERRA DE MELO",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56097",
          "nome": "GILDIVAN DOS SANTOS HORA",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56126",
          "nome": "GILENO DO NASCIMENTO SILVA",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56091",
          "nome": "GILIARDE JESUS SOUZA",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56288",
          "nome": "GILTON PEREIRA ARAUJO",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56102",
          "nome": "GILVAN GONCALVES SILVA VILAÇA",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56221",
          "nome": "GLAUBER ARRUDA LIMA",
          "funcao": "SUPERVISOR DE ELETRICA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-22",
          "envio_cliente": "2026-01-22"
        }
      },
      {
        "json": {
          "chapa": "56240",
          "nome": "GUILHERME NICOLAU DOS SANTOS",
          "funcao": "ENCARREGADO DE TURMA",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-23"
        }
      },
      {
        "json": {
          "chapa": "56191",
          "nome": "GUSTAVO HENRIQUE DE OLIVEIRA",
          "funcao": "SOLDADOR TA II",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-15",
          "liberacao_ecoordin": "2026-01-22",
          "envio_cliente": "2026-01-22"
        }
      },
      {
        "json": {
          "chapa": "56142",
          "nome": "HELBERT RIBEIRO DA SILVA",
          "funcao": "MONTADOR DE ANDAIME",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.5",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-20",
          "envio_cliente": "2026-01-20"
        }
      },
      {
        "json": {
          "chapa": "56149",
          "nome": "HILTON CESAR PEREIRA MOREIRA",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-28",
          "envio_cliente": "2026-01-28"
        }
      },
      {
        "json": {
          "chapa": "56209",
          "nome": "IGOR RAFAEL PEREIRA DA SILVA",
          "funcao": "ENCARREGADO DE ELETRICA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.3.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56153",
          "nome": "ISMAEL CARLOS DA SILVA COSTA",
          "funcao": "MONTADOR DE ANDAIME",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.5",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56284",
          "nome": "ITAMAR DIAS FERREIRA",
          "funcao": "MONTADOR DE ANDAIME",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.5",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-22",
          "envio_cliente": "2026-01-21"
        }
      },
      {
        "json": {
          "chapa": "56116",
          "nome": "IVAN PEDRO GONCALVES CONCEIÇAO",
          "funcao": "ENCANADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.3",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56137",
          "nome": "IVAN PEREIRA COQUEIRO",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56147",
          "nome": "JAILSON DA SILVA SANTOS",
          "funcao": "INSTRUMENTISTA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT4.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56156",
          "nome": "JANDSON DO CARMOS SILVA",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56106",
          "nome": "JEFERSON DOUGLAS BARBOSA DUTRA",
          "funcao": "ENCANADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.4",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56145",
          "nome": "JHEYSON DE SENA JARDIM",
          "funcao": "LIXADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56296",
          "nome": "JOAB MARQUES FERREIRA ALVES",
          "funcao": "SOLDADOR II TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UTE.1.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-21",
          "liberacao_ecoordin": "2026-01-28",
          "envio_cliente": "2026-01-28"
        }
      },
      {
        "json": {
          "chapa": "56132",
          "nome": "JOABSON ALVES",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56179",
          "nome": "JOAO MARIA SILVA DOS SANTOS",
          "funcao": "SOLDADOR II TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56239",
          "nome": "JOENILTON SANTOS LIMA",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-23"
        }
      },
      {
        "json": {
          "chapa": "56170",
          "nome": "JONATAS COUTINHO ALVES",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.3",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56285",
          "nome": "JONATIS JOSE DE SA",
          "funcao": "ENCARREGADO DE ELETRICA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56242",
          "nome": "JOSE AMARO DE SOUZA",
          "funcao": "INSTRUMENTISTA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.3.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56223",
          "nome": "JOSE CICERO BEZERRA DE MELO",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56109",
          "nome": "JOSE DE FATIMA LOPES",
          "funcao": "ENCANADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.4",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56230",
          "nome": "JOSE EDNILSON CONCEICAO",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56161",
          "nome": "JOSE MARCONDES DOS SANTOS",
          "funcao": "SUPERVISOR DE ELETRICA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-20",
          "envio_cliente": "2026-01-20"
        }
      },
      {
        "json": {
          "chapa": "56190",
          "nome": "JOSE MARIA DOS ANJOS DA SILVA",
          "funcao": "ALMOXARIFE",
          "area": "IO - INDIRETO OBRA - SPE - Azulão",
          "cid": "IO16",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-15",
          "liberacao_ecoordin": "2026-01-21",
          "envio_cliente": "2026-01-21"
        }
      },
      {
        "json": {
          "chapa": "56098",
          "nome": "JOSE MILTON DOS SANTOS DE MELO",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56246",
          "nome": "JOSE MOURA CARDOSO",
          "funcao": "SUPERVISOR DE OBRAS",
          "area": "UT - INDIRETO OBRA - SPE - Azulão",
          "cid": "UT12",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-22",
          "envio_cliente": "2026-01-28"
        }
      },
      {
        "json": {
          "chapa": "56256",
          "nome": "JOSE PAULO LIMA XAVIER",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-23"
        }
      },
      {
        "json": {
          "chapa": "56264",
          "nome": "JOSIANE CORREA SALES",
          "funcao": "ASSISTENTE ADMINISTRATIVO",
          "area": "UTE - SPE - Azulão",
          "cid": "UT13",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-22",
          "envio_cliente": "2026-01-22"
        }
      },
      {
        "json": {
          "chapa": "56283",
          "nome": "JOSIMAR REIS DO CARMO",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-23"
        }
      },
      {
        "json": {
          "chapa": "56084",
          "nome": "JULIA FARIAS DE ALMEIDA",
          "funcao": "AUXILIAR ADMINISTRATIVO",
          "area": "UTE - SPE - Azulão",
          "cid": "UT13",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-06",
          "liberacao_ecoordin": "2026-01-07",
          "envio_cliente": "2026-01-23"
        }
      },
      {
        "json": {
          "chapa": "56225",
          "nome": "JULIO CESAR DA SILVA",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56125",
          "nome": "KELVIN CEZIA ALMEIDA SIQUEIRA",
          "funcao": "ENCANADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.4",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56199",
          "nome": "KEVENY GOMES DE ALMEIDA AYRES",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56254",
          "nome": "KLEBER DANTAS VIEIRA",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "Ok",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56268",
          "nome": "KLEBERSON GUTIERRE ALVES DA SILVA ANDRADE",
          "funcao": "SOLDADOR II TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-26",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56262",
          "nome": "LEONARDO PURIFICACAO DA SILVA",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-24",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56114",
          "nome": "LEVI DUARTE ADORNO",
          "funcao": "ENCANADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.3",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56265",
          "nome": "LUAN DE OLIVEIRA SOUZA",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": "-",
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-31",
          "envio_cliente": "2026-01-31"
        }
      },
      {
        "json": {
          "chapa": "56235",
          "nome": "LUAN LIMA DE OLIVEIRA",
          "funcao": "ENCARREGADO DE ELETRICA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "Ok",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56259",
          "nome": "LUAN RODRIGUES QUARESMA",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "Ok",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56272",
          "nome": "LUCAS DE ALMEIDA MARTINS",
          "funcao": "AJUDANTE GERAL TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-22",
          "envio_cliente": "2026-01-28"
        }
      },
      {
        "json": {
          "chapa": "56232",
          "nome": "LUCAS LUAN DOS SANTOS SOUZA",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "Ok",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56168",
          "nome": "LUCIANO ANDRE DE FREITAS CORREIA",
          "funcao": "ENCANADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.4",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "54261",
          "nome": "LUCIANO BITENCOURT SILVESTRE",
          "funcao": "CONSULTOR PROJETISTA ",
          "area": "COMPARTILHADOS",
          "cid": "SP9.1",
          "rh": "OK",
          "saude": "PENDENTE",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": "VACINA SAÚDE",
          "data_admissao": "2026-01-01",
          "liberacao_ecoordin": "2026-01-21",
          "envio_cliente": null
        }
      },
      {
        "json": {
          "chapa": "56216",
          "nome": "LUCIANO DE JESUS SOUZA",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-24",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56182",
          "nome": "LUCIANO DE OLIVEIRA E SILVA",
          "funcao": "SUPERVISOR DE ELETRICA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-20",
          "envio_cliente": "2026-01-20"
        }
      },
      {
        "json": {
          "chapa": "56266",
          "nome": "LUCIANO MARCOS DA LUZ",
          "funcao": "ENCARREGADO DE TURMA",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-23"
        }
      },
      {
        "json": {
          "chapa": "56253",
          "nome": "LUIS CARLOS ALVES DE ARAUJO",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-24",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56180",
          "nome": "LUIS DANILO LOZADA LOZADA",
          "funcao": "ELETRICISTA DE MANUTENÇÃO",
          "area": "UTE - SPE - Azulão",
          "cid": "UT4.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "PENDENTE",
          "grd": "PENDENTE",
          "obs_grd": "FINALIZANDO TREINAMENTO",
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-23"
        }
      },
      {
        "json": {
          "chapa": "56202",
          "nome": "MAGNO DE ALMEIDA JESUS",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-24",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56257",
          "nome": "MAGNO DE SOUZA SANTOS",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "Ok",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56124",
          "nome": "MANOEL DE CARVALHO",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56118",
          "nome": "MANOEL OLIVEIRA FERREIRA",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56178",
          "nome": "MARCILON DA SILVA SOUSA",
          "funcao": "SOLDADOR TA II",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56282",
          "nome": "MARCIO SANTOS GARCIA",
          "funcao": "TECNICO DE MATERIAIS",
          "area": "IO - INDIRETO OBRA - SPE - Azulão",
          "cid": "IO16",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-22",
          "envio_cliente": "2026-01-27"
        }
      },
      {
        "json": {
          "chapa": "56231",
          "nome": "MARCOS ANTONIO SANTOS DO NASCIMENTO",
          "funcao": "ENCARREGADO DE ELETRICA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "Ok",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56133",
          "nome": "MARCOS MARCELO RIOS",
          "funcao": "TECNICO DE COMISSIONAMENTO",
          "area": "UTE - SPE - Azulão",
          "cid": "UT13",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56171",
          "nome": "MARCOS ODORICO DE SOUZA",
          "funcao": "SUPERVISOR DE ELETRICA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-20",
          "envio_cliente": "2026-01-20"
        }
      },
      {
        "json": {
          "chapa": "56117",
          "nome": "MARCOS PAULO BARROS CASTRO",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56260",
          "nome": "MARCOS VINICIOS TAVARES DO NASCIMENTO",
          "funcao": "ENCARREGADO DE ELETRICA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56249",
          "nome": "MARCOS VINICIUS BASTOS CARNEIRO",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT4.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56204",
          "nome": "MARCUS VINICIUS MARINHO BARROS",
          "funcao": "ALMOXARIFE",
          "area": "IO - INDIRETO OBRA - SPE - Azulão",
          "cid": "IO16",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-22",
          "envio_cliente": "2026-01-23"
        }
      },
      {
        "json": {
          "chapa": "56286",
          "nome": "MAURICIO PEREIRA LINS",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56157",
          "nome": "MAURILIO SOUSA FERNANDES",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": "RG, PENDENCIA RH",
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": null
        }
      },
      {
        "json": {
          "chapa": "56258",
          "nome": "MAXIMILIANO PALHARES DE GOES",
          "funcao": "LIXADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-26",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56136",
          "nome": "MESAQUE DE JESUS MOREIRA NOGUEIRA",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56115",
          "nome": "MESAQUE PEIXOTO LOPES",
          "funcao": "MONTADOR DE ANDAIME",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.5",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-22",
          "envio_cliente": "2026-01-22"
        }
      },
      {
        "json": {
          "chapa": "56087",
          "nome": "MICHELLY CRISTINA DA COSTA GOIS",
          "funcao": "AUXILIAR ADMINISTRATIVO",
          "area": "UTE - SPE - Azulão",
          "cid": "UT13",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-06",
          "liberacao_ecoordin": "2026-01-07",
          "envio_cliente": "2026-01-07"
        }
      },
      {
        "json": {
          "chapa": "56205",
          "nome": "MIGUEL DE SOUZA BISNETO",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-24",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56092",
          "nome": "MOISES CASAES DOS ANJOS",
          "funcao": "LIXADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": null
        }
      },
      {
        "json": {
          "chapa": "56278",
          "nome": "MURILO GONCALVES SILVEIRA",
          "funcao": "SOLDADOR II TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-26",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56127",
          "nome": "NADSON LAGO OLIVEIRA DA CRUZ",
          "funcao": "ENCANADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.4",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56196",
          "nome": "NAIARA ALVES CONCEICAO",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-24",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56276",
          "nome": "NANDO KILBER DE OLIVEIRA CUNHA",
          "funcao": "AJUDANTE GERAL TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT19.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-23"
        }
      },
      {
        "json": {
          "chapa": "56110",
          "nome": "NILSON BARROS DE VERAS",
          "funcao": "ENCANADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.4",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56139",
          "nome": "NILTON FERREIRA DOS SANTOS",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56189",
          "nome": "NONATO MACIEL VIANA",
          "funcao": "SOLDADOR TA II",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-15",
          "liberacao_ecoordin": "2026-01-22",
          "envio_cliente": "2026-01-22"
        }
      },
      {
        "json": {
          "chapa": "56229",
          "nome": "OSMAILSON CONCEICAO DA SILVA",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56213",
          "nome": "OSVANI SOARES",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "Ok",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56083",
          "nome": "PAULO GUSTAVO AZEVEDO SANTOS",
          "funcao": "AUXILIAR ADMINISTRATIVO",
          "area": "UTE - SPE - Azulão",
          "cid": "UT13",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-06",
          "liberacao_ecoordin": "2026-01-07",
          "envio_cliente": "2026-01-07"
        }
      },
      {
        "json": {
          "chapa": "56234",
          "nome": "PEDRO JOSE DO NASCIMENTO FILHO",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Szulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "Ok",
          "seguranca": "OK",
          "grd": "Ok",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-24",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56103",
          "nome": "PEDRO LUIS RODRIGUES",
          "funcao": "ENCANADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.4",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56220",
          "nome": "PEDRO PEREIRA DE SA FILHO",
          "funcao": "SUPERVISOR DE ELETRICA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-22",
          "envio_cliente": "2026-01-22"
        }
      },
      {
        "json": {
          "chapa": "56113",
          "nome": "RAFAEL SILVA DE AMORIM",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56280",
          "nome": "RAIMUNDO ALVES NETO",
          "funcao": "SOLDADOR II TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-26",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56164",
          "nome": "RAIMUNDO LOPES DA SILVA",
          "funcao": "ENCANADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.3.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56187",
          "nome": "RAIMUNDO NONATO DOS SANTOS BEZERRA FILHO",
          "funcao": "SOLDADOR I TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-19",
          "envio_cliente": "2026-01-19"
        }
      },
      {
        "json": {
          "chapa": "56291",
          "nome": "RENATO GONCALVES DOS SANTOS",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-24",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56290",
          "nome": "RICARDO BRANDAO SANTOS",
          "funcao": "ENCARREGADO DE ELETRICA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56167",
          "nome": "RICARDO GOMES DE ALMEIDA",
          "funcao": "INSTRUMENTISTA TUBISTA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.3.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56176",
          "nome": "RICARDO MORAIS RODRIGUES DE SOUZA",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56130",
          "nome": "RICHARD JOSE CHINA GUZMAN",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT4.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56279",
          "nome": "RODNEY MAXIMUS DE SOUZA ARAUJO",
          "funcao": "AJUDANTE GERAL TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT2.6",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-23"
        }
      },
      {
        "json": {
          "chapa": "56208",
          "nome": "RODRIGO CARDOSO DO NASCIMENTO",
          "funcao": "ALMOXARIFE",
          "area": "IO - INDIRETO OBRA - SPE - Azulão",
          "cid": "IO16",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-22",
          "envio_cliente": "2026-01-23"
        }
      },
      {
        "json": {
          "chapa": "56163",
          "nome": "RODRIGO PEREIRA DE SA SANTOS",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-27"
        }
      },
      {
        "json": {
          "chapa": "56155",
          "nome": "RODRIGO SILVA LIMA",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.3.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56129",
          "nome": "ROGERIO DE RIBAMAR PEREIRA RODRIGUES",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56237",
          "nome": "RONILSON SANTOS DA SILVA",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56184",
          "nome": "RONILSON SILVA DOS SANTOS",
          "funcao": "ENCARREGADO DE TURMA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT4.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-22",
          "envio_cliente": "2026-01-23"
        }
      },
      {
        "json": {
          "chapa": "56228",
          "nome": "SAMUEL ALVES DE SA",
          "funcao": "ENCARREGADO DE ELETRICA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56195",
          "nome": "SANDRO DE ALMEIDA CARNEIRO",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-24",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56226",
          "nome": "SANDRO PEREIRA BRAGA",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56173",
          "nome": "SANDRO ROGERIO DOS SANTOS",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56241",
          "nome": "SOLANGE GOMES SANTOS",
          "funcao": "ASSISTENTE ADMINISTRATIVO",
          "area": "UTE - SPE - Azulão",
          "cid": "UT13",
          "rh": "OK",
          "saude": "PENDENTE",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": "VACINA , SAÚDE",
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-22",
          "envio_cliente": null
        }
      },
      {
        "json": {
          "chapa": "56198",
          "nome": "SUSEN CAROLINE DE OLIVEIRA SOUSA",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-24",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56096",
          "nome": "SUZIMILE DE JESUS FERREIRA",
          "funcao": "ELETRICISTA FORCA E CONTROLE",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56105",
          "nome": "VANILDO BISPO DOS SANTOS",
          "funcao": "ENCANADOR TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.1.4",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-22",
          "envio_cliente": "2026-01-22"
        }
      },
      {
        "json": {
          "chapa": "56082",
          "nome": "VICTOR DIOGO DA SILVA NEVES",
          "funcao": "AJUDANTE GERAL TA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT12",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-06",
          "liberacao_ecoordin": "2026-01-08",
          "envio_cliente": "2026-01-08"
        }
      },
      {
        "json": {
          "chapa": "56200",
          "nome": "WESLEI DA CRUZ CARMO",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-24",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56255",
          "nome": "WILDENBERG MADEIRA SILVA",
          "funcao": "PINTOR INDUSTRIAL",
          "area": "UTG - SPE - Azulão",
          "cid": "UG3.2",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-24",
          "envio_cliente": "2026-01-26"
        }
      },
      {
        "json": {
          "chapa": "56224",
          "nome": "WILSON DOS SANTOS",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56219",
          "nome": "WINSTON DE FRANCA DANTAS",
          "funcao": "ENCARREGADO DE ELETRICA",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56218",
          "nome": "WITALO DE MELO",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56222",
          "nome": "WOLACE DA SILVA BARBOSA",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-19",
          "liberacao_ecoordin": "2026-01-30",
          "envio_cliente": "2026-01-30"
        }
      },
      {
        "json": {
          "chapa": "56146",
          "nome": "WOLLAS DENIS DE SOUZA MORAIS",
          "funcao": "ELETRICISTA MONTADOR",
          "area": "UTE - SPE - Azulão",
          "cid": "UT3.2.1",
          "rh": "OK",
          "saude": "OK",
          "seguranca": "OK",
          "grd": "OK",
          "obs_grd": null,
          "data_admissao": "2026-01-13",
          "liberacao_ecoordin": "2026-01-23",
          "envio_cliente": "2026-01-26"
        }
      }
    ],
    "🚀 Gatilho: Novo Arquivo Drive": [
      {
        "json": {
          "parents": [
            "1Axzocv5JqWwo3_HYARQgL900mGfyyaOq"
          ],
          "lastModifyingUser": {
            "displayName": "francis.rosa",
            "kind": "drive#user",
            "me": false,
            "permissionId": "08637728620906559898",
            "emailAddress": "francis.rosa@elecnor.es",
            "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjX0WmdL_84jB9n5qtm3eZF4pqOPrCPYnqgyApnzE4Q5HdWeMA=s64"
          },
          "owners": [
            {
              "displayName": "francis.rosa",
              "kind": "drive#user",
              "me": false,
              "permissionId": "08637728620906559898",
              "emailAddress": "francis.rosa@elecnor.es",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjX0WmdL_84jB9n5qtm3eZF4pqOPrCPYnqgyApnzE4Q5HdWeMA=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "03984119144598048786",
              "type": "user",
              "emailAddress": "joao.ferreira@elecnor.es",
              "role": "writer",
              "displayName": "joao.ferreira",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjWNqysrT5Y-oR3yMCtThc-iuIjfiGcuIa1zDoOWYmNmNhSG=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "16755752180160605332",
              "type": "user",
              "emailAddress": "maria.souza@elecnor.es",
              "role": "writer",
              "displayName": "maria.souza",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjXDo9wNGirEmG4SGKM2DduzsfmP1eTz5dKHMDAmv9kSYLorhA=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "08637728620906559898",
              "type": "user",
              "emailAddress": "francis.rosa@elecnor.es",
              "role": "owner",
              "displayName": "francis.rosa",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjX0WmdL_84jB9n5qtm3eZF4pqOPrCPYnqgyApnzE4Q5HdWeMA=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "15931940364978156555",
              "type": "user",
              "emailAddress": "harleia.cruz@elecnor.es",
              "role": "writer",
              "displayName": "harleia.cruz",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjVhDHANO7BG7uAcvC44T6nxyNa9XQ-nDur8gBUOmNaKHGochE4H=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "05832422465457670089",
              "type": "user",
              "emailAddress": "danielle.lima@elecnor.es",
              "role": "reader",
              "displayName": "danielle.lima",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjWWXvcqFTjCn4R92OwpCmKcey4ctscOHGC3KBD5nL89CxN4odiq=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "10638383484814172444",
              "type": "user",
              "emailAddress": "karen.roettger@elecnor.com",
              "role": "writer",
              "displayName": "karen.roettger",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjUNZ8XFBWH-hZWW255hBihgoUcS3h01abNDVzOjZTavH-r5EHQJ=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "16114594575529434203",
              "type": "user",
              "emailAddress": "hully.carneiro@elecnor.com",
              "role": "writer",
              "displayName": "hully.carneiro",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjWnBlvJb4YX1QW-7rDCJ_yfc3y4MpI09qmOfktc8NEM-S7bsVo=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "08731771105458905360",
              "type": "user",
              "emailAddress": "maria.pinchimel@elecnor.es",
              "role": "reader",
              "displayName": "maria.pinchimel",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjXjRhEZyiOab_VEklkbpCXxhkJY7cDQSFQr3bDXADCeMjm85o1D=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "12158921296383254891",
              "type": "user",
              "emailAddress": "willian.santos@elecnor.es",
              "role": "writer",
              "displayName": "willian.santos",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjUkl0Zd1J6aCUsAnYcxqmtEvtqOrUT5puQuJkPxJ9SvbfaqUg=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "14416711813094307317",
              "type": "user",
              "emailAddress": "gustavo.silva@elecnor.com",
              "role": "writer",
              "displayName": "gustavo.silva",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjVPwU7hSJiMHlIi1en3wepyojobNoGkAQAS5Cw3njVKmfqdBQZ68A=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "13277785189331157683",
              "type": "user",
              "emailAddress": "samuel.gonzaga@elecnor.es",
              "role": "writer",
              "displayName": "samuel.gonzaga",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjXhJ35hVICNWyO3iJIWaHmqb_JZV13YqMsOW1QmJ6yVMzcgPA=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "04352097027074394334",
              "type": "user",
              "emailAddress": "luana.silva@elecnor.es",
              "role": "writer",
              "displayName": "luana.silva",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjVXFnUBSzGd1UWit2bkQ9MHl3PFVocKWk36-NFHkRtrttu_WYo=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "16815281332718419354",
              "type": "user",
              "emailAddress": "karoline.viera@elecnor.es",
              "role": "writer",
              "displayName": "karoline.viera",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjUs42512J6T0gH4XFTxqHbHk830lxlNyFiwVJzrzKI0gravhdLY=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "04863631928373544453",
              "type": "user",
              "emailAddress": "rafael.silva@elecnor.es",
              "role": "writer",
              "displayName": "rafael.silva",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjVFU2BfuxBbYyJEmRc3ptpM0nLfLxReViZR7lUHZPAKujNZVg=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "06954311827007305941",
              "type": "user",
              "emailAddress": "francis.snay@gmail.com",
              "role": "writer",
              "displayName": "Francis Vieira",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocI4FI3mcenCqJN4Gj1gVoANGtYkKwffqJLdZGxJuoi7mdpfasFZig=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "12385578829013431687",
              "type": "user",
              "emailAddress": "maria.preuss@elecnor.es",
              "role": "writer",
              "displayName": "maria.preuss",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjUnjmEfbSQvGJ_D7R6N5IEiSmOewxAJmqrkx4pp1Y51mgQRFw=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "07673663894176640056",
              "type": "user",
              "emailAddress": "recrutamento.azulao@elecnor.es",
              "role": "writer",
              "displayName": "recrutamento.azulao",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjV8-IE76dhHkykI8xbXRUT5qqqZSf8OFyhqMOkWCEnjuNdVlA=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "07079774169755388757",
              "type": "user",
              "emailAddress": "frank.vale@elecnor.es",
              "role": "writer",
              "displayName": "frank.vale",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjV-COPOlgODdLi8_Ltk6Mny0dEgHZHVTSjurKwRItD3zAyCWA=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "13858480465284925079",
              "type": "user",
              "emailAddress": "nilma.desa@elecnor.es",
              "role": "writer",
              "displayName": "nilma.desa",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjWL5riYJ-n2VXdrhQD19O4gzBl-AZIic3Ir4vgMhzRzaAd3WA=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "14126954897686872267",
              "type": "user",
              "emailAddress": "fernanda.silva@elecnor.com",
              "role": "writer",
              "displayName": "fernanda.silva",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjXXX_uU_-SeJfsFUq2QyKH6kKzDVZGTGUnl4bYTZ_C0WeZ9S3kA=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "18002600992846171293",
              "type": "user",
              "emailAddress": "estefane.jesus@elecnor.es",
              "role": "writer",
              "displayName": "estefane.jesus",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjUekM2lykyEAJokkco2ZsIaMkKRGWmM6h6lxwQTO8KMDaZn_90=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "15404421851775805438",
              "type": "user",
              "emailAddress": "jowclebson.silva@elecnor.es",
              "role": "writer",
              "displayName": "jowclebson.silva",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjX508_6J2bn7cUjEC81Nz4iX6L11MPOkMHpAI272Vcj8xt2aqqh1w=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "09661220334246125892",
              "type": "user",
              "emailAddress": "jomara.santos@elecnor.es",
              "role": "writer",
              "displayName": "jomara.santos",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjX-lSPOpQBkC3XN2XYzcJqgRAYcMuhkXAyGLb9JkrUWQPQ6XA=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "16898948243814987757",
              "type": "user",
              "emailAddress": "giovanna.landim@elecnor.es",
              "role": "writer",
              "displayName": "giovanna.landim",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjU9wBm6cAoc1NtmICQn-4iia9xcL4bY-mjbmvPF1TzxMqlpv0I=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "15544248915352441050",
              "type": "user",
              "emailAddress": "ana.rosa@elecnor.es",
              "role": "writer",
              "displayName": "ana.rosa",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjXox-JhkSdZwCZhrGwTEk4Oim8lBxYNFamBCHIGqpg2QEUojyXr=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "08207903410987749013",
              "type": "user",
              "emailAddress": "ma.santos@elecnor.es",
              "role": "writer",
              "displayName": "ma.santos",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjWwJaJ8ofxZhWfkvM5yrf2rzAoYG1uSn64YcccdvhCibnxEOA=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "05827326785209940734",
              "type": "user",
              "emailAddress": "giovana.miossi@elecnor.es",
              "role": "writer",
              "displayName": "giovana.miossi",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjWN0-TLwQveKESJinTh6HgTt9io11vsvjJ-3Z1LYIPf2SVT_h8R=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "14202372924175209149",
              "type": "user",
              "emailAddress": "marcio.soliveira@elecnor.es",
              "role": "writer",
              "displayName": "marcio.soliveira",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjW9B_JWt11ZLKhLR2b1AQ5Qyuo5wV2pxuggBlTWfbLBg90ut_8=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "16519743082585156028",
              "type": "user",
              "emailAddress": "pedro.junior@elecnor.es",
              "role": "writer",
              "displayName": "pedro.junior",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjWfHWEpS9KNkWRVX77mKxdz2JA1Im_jPfiOrt0b34qr2IUYvQ=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "11554142963793654484",
              "type": "user",
              "emailAddress": "zaiane.santos@elecnor.es",
              "role": "writer",
              "displayName": "zaiane.santos",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjU7gY7CSo29XdPAc69fA8IKzm2FpgDWXKUZXu3tsMgEQY-OODM=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "17860503186197346240",
              "type": "user",
              "emailAddress": "felipe.smendonca@elecnor.es",
              "role": "writer",
              "displayName": "felipe.smendonca",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjUU_SfijmAnjI8CthlFpVKt0V49-zLONAFTY_3Z2R6_QtEEsRg=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "13553194395241508072",
              "type": "user",
              "emailAddress": "karla.oliveira@elecnor.com",
              "role": "reader",
              "displayName": "karla.oliveira",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjVvHEom1-38DOK2q_qH8_f6S_zD-Y7kYwrzOeJ4BWRo_4uUUNE1=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "09338745784857078785",
              "type": "user",
              "emailAddress": "maria.costa@elecnor.es",
              "role": "writer",
              "displayName": "maria.costa",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjWHsbVV37Op1ZcrLvTcTiH2bqGkNReM9jO0O16u1VG_N21ZXg=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "15108873528877127302",
              "type": "user",
              "emailAddress": "joas.ribeiro@elecnor.es",
              "role": "writer",
              "displayName": "joas.ribeiro",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjWnVRc6e86WF21sdZ-r2NS_ZendbcahGJ_BIGVdBfupfl7uY3E=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "04664686690352948999",
              "type": "user",
              "emailAddress": "erisvaldo.passos@elecnor.es",
              "role": "writer",
              "displayName": "erisvaldo.passos",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjWQl4lEzuKETL85uCSvRijAZxzavDX_9oEaVDn2ADvEGNoL5Ms=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "03569573428159931556",
              "type": "user",
              "emailAddress": "leticia.lima@elecnor.es",
              "role": "reader",
              "displayName": "leticia.lima",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjV0_MRXZw1qql6J4gFLKkY6fEzH709m1u7bqXp7zN-Y71ablg=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": false,
            "canChangeItemDownloadRestriction": false,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": false,
            "canComment": true,
            "canCopy": true,
            "canDelete": false,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": false,
            "canModifyLabels": true,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": false,
            "canMoveItemOutOfDrive": false,
            "canMoveItemWithinDrive": true,
            "canReadLabels": true,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": false,
            "canUntrash": false
          },
          "permissionIds": [
            "03984119144598048786",
            "16755752180160605332",
            "08637728620906559898",
            "15931940364978156555",
            "05832422465457670089",
            "10638383484814172444",
            "16114594575529434203",
            "08731771105458905360",
            "12158921296383254891",
            "14416711813094307317",
            "13277785189331157683",
            "04352097027074394334",
            "16815281332718419354",
            "04863631928373544453",
            "06954311827007305941",
            "12385578829013431687",
            "07673663894176640056",
            "07079774169755388757",
            "13858480465284925079",
            "14126954897686872267",
            "18002600992846171293",
            "15404421851775805438",
            "09661220334246125892",
            "16898948243814987757",
            "15544248915352441050",
            "08207903410987749013",
            "05827326785209940734",
            "14202372924175209149",
            "16519743082585156028",
            "11554142963793654484",
            "17860503186197346240",
            "13553194395241508072",
            "09338745784857078785",
            "15108873528877127302",
            "04664686690352948999",
            "03569573428159931556"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1r7twtZ3AuP9mvrL13Ouk8Vg8ZlP_zoih",
          "name": "002  Controle de Liberação Complexo Azulão 950 - 02-02-2026 - HA.xlsx",
          "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "2",
          "webContentLink": "https://drive.google.com/uc?id=1r7twtZ3AuP9mvrL13Ouk8Vg8ZlP_zoih&export=download",
          "webViewLink": "https://docs.google.com/spreadsheets/d/1r7twtZ3AuP9mvrL13Ouk8Vg8ZlP_zoih/edit?usp=drivesdk&ouid=103096259421398092258&rtpof=true&sd=true",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
          "hasThumbnail": true,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBPHtIMoTI8fCuESEsZNfdxKLkL0zRzTdgMMpXj4pZ-GsQIaNTj9yooj76Z_MeTPFr-Hu9IBPcv29-T-JT7vNnZxQrx5TD3lDP8iXu_XwwBohuWt7g=s220",
          "thumbnailVersion": "1",
          "viewedByMe": false,
          "createdTime": "2026-02-02T14:57:33.563Z",
          "modifiedTime": "2026-02-02T14:56:43.000Z",
          "modifiedByMe": false,
          "shared": true,
          "ownedByMe": false,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "originalFilename": "002  Controle de Liberação Complexo Azulão 950 - 02-02-2026 - HA.xlsx",
          "fullFileExtension": "xlsx",
          "fileExtension": "xlsx",
          "md5Checksum": "3de37aec05e7b4d77f2a75e31bb075e8",
          "sha1Checksum": "8b40cb59d16f1aa1b061c08aa2478bc2df91d41c",
          "sha256Checksum": "5c60131e8ec5a78d01505b7de7fa69aa0d63581ccd76c71eddfe2e8b01287ce2",
          "size": "1027843",
          "quotaBytesUsed": "1027843",
          "headRevisionId": "0B5wGSOjIltyBTkVpVTh2UWFPVE9EN1ZIb3A4cGFuU3RTSWlJPQ",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "⚙️ Decidir Ação": {
      "main": [
        [
          {
            "node": "❓ É INSERT?",
            "type": "main",
            "index": 0
          },
          {
            "node": "❓ É UPDATE?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ É INSERT?": {
      "main": [
        [
          {
            "node": "➕ Inserir no Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ É UPDATE?": {
      "main": [
        [
          {
            "node": "➕ Inserir no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 HTTP: Listar arquivo1": {
      "main": [
        [
          {
            "node": "🔍 Pegar mais recente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Pegar mais recente1": {
      "main": [
        [
          {
            "node": "⬇️ HTTP: Baixar XLSX1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⬇️ HTTP: Baixar XLSX1": {
      "main": [
        [
          {
            "node": "📊 Ler XLSX1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Ler XLSX1": {
      "main": [
        [
          {
            "node": "🔄 Transformar dados4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Buscar Todos Registros Supabase2": {
      "main": [
        [
          {
            "node": "⚙️ Decidir Ação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar_Dados1": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "🔍 Buscar Todos Registros Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Gatilho: Novo Arquivo Drive": {
      "main": [
        [
          {
            "node": "📋 HTTP: Listar arquivo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Gatilho: Novo Arquivo Drive1": {
      "main": [
        [
          {
            "node": "📋 HTTP: Listar arquivo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Transformar dados4": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f67882d4-a4d1-4b41-9646-b0f0d15d39b5",
  "meta": {
    "instanceId": "efdfc9b5a057cb6246e691bd5c59604d7a02bf1bed5a4eb9344c1cbb89ac8938"
  },
  "id": "R7P8tvc40tB-7rax9JH0a",
  "tags": []
}