fluxo/claude3.json
{
  "name": "Google Sheets → Supabase (Fixo 79 Itens)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2672,
        176
      ],
      "id": "trigger_h",
      "name": "⏰ Agendar (a cada 1h)"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "='1Axzocv5JqWwo3_HYARQgL900mGfyyaOq' in parents and trashed=false and mimeType='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' and name contains 'Controle de Liberação Complexo Azulão 950'"
            },
            {
              "name": "orderBy",
              "value": "modifiedTime desc"
            },
            {
              "name": "fields",
              "value": "files(id,name,modifiedTime)"
            },
            {
              "name": "pageSize",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2464,
        176
      ],
      "id": "list_files",
      "name": "📋 HTTP: Listar arquivo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tpLkUuyanL84uJZR",
          "name": "Google Drive "
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const files = $json.files || [];\nif (!files.length) throw new Error('Nenhum arquivo encontrado');\nreturn [{ json: files[0] }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2240,
        176
      ],
      "id": "get_recent",
      "name": "🔍 Pegar mais recente"
    },
    {
      "parameters": {
        "url": "={{ 'https://www.googleapis.com/drive/v3/files/' + $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "alt",
              "value": "media"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2016,
        176
      ],
      "id": "download_file",
      "name": "⬇️ HTTP: Baixar XLSX",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tpLkUuyanL84uJZR",
          "name": "Google Drive "
        }
      }
    },
    {
      "parameters": {
        "options": {
          "range": "A7:Z5000",
          "sheetName": "PR-1 ELECNOR"
        }
      },
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        -1792,
        176
      ],
      "id": "read_xlsx",
      "name": "📊 Ler XLSX"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "liberation_data",
        "limit": 10000
      },
      "executeOnce": true,
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1328,
        176
      ],
      "id": "get_supabase_data",
      "name": "🔍 Buscar Todos Registros Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Edgoxnq69Vx3Bv5T",
          "name": "Supabase_Sistema"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// COMPARAÇÃO E SEPARAÇÃO INDIVIDUAL\n// =====================================================\n\n// 1. Pega os 79 itens da transformação\nconst planilhaItems = $('Transformar_Dados').all();\n\n// 2. Pega os dados do banco (que vieram via input do Supabase)\nconst supabaseItems = $input.all();\n\n// 3. Cria mapa do banco\nconst bancoMap = {};\nfor (const item of supabaseItems) {\n  if (item.json && item.json.chapa) {\n    bancoMap[String(item.json.chapa)] = item.json;\n  }\n}\n\n// 4. Gera um item de output para CADA item da planilha\nreturn planilhaItems.map(pItem => {\n  const row = pItem.json;\n  const chapa = String(row.chapa);\n  const dadoBanco = bancoMap[chapa];\n\n  if (!dadoBanco) {\n    return { json: { ...row, operation: 'insert' } };\n  }\n\n  // Verificação de mudanças para evitar updates desnecessários\n  let hasChanges = false;\n  const ignore = ['id', 'created_at', 'updated_at'];\n  for (const key of Object.keys(row)) {\n    if (ignore.includes(key)) continue;\n    if (String(row[key] || '') !== String(dadoBanco[key] || '')) {\n      hasChanges = true;\n      break;\n    }\n  }\n\n  return { json: { ...row, operation: hasChanges ? 'update' : 'skip' } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        176
      ],
      "id": "decide_logic",
      "name": "⚙️ Decidir Ação"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.operation }}",
              "rightValue": "insert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -848,
        48
      ],
      "id": "filter_insert",
      "name": "❓ É INSERT?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.operation }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -848,
        304
      ],
      "id": "filter_update",
      "name": "❓ É UPDATE?"
    },
    {
      "parameters": {
        "tableId": "liberation_data"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -576,
        48
      ],
      "id": "supabase_insert_final",
      "name": "➕ Inserir no Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "Edgoxnq69Vx3Bv5T",
          "name": "Supabase_Sistema"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "liberation_data",
        "updateKey": "chapa",
        "columns": "nome,funcao,status,area,cid,rh,saude,seguranca,grd,obs_grd,data_admissao,liberacao_ecoordin,envio_cliente"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -576,
        304
      ],
      "id": "supabase_update_final",
      "name": "🔄 Atualizar no Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "Edgoxnq69Vx3Bv5T",
          "name": "Supabase_Sistema"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function excelSerialToDate(serial) {\n  const excelEpoch = new Date(Date.UTC(1899, 11, 30));\n  return new Date(excelEpoch.getTime() + Number(serial) * 86400000);\n}\n\nfunction parseDate(value) {\n  if (!value) return null;\n  if (value instanceof Date && !isNaN(value)) return value;\n  if (typeof value === 'number') {\n    const d = excelSerialToDate(value);\n    return isNaN(d) ? null : d;\n  }\n  const str = String(value).trim();\n  const match = str.match(/^(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})$/);\n  if (match) {\n    const [, d, m, y] = match;\n    return new Date(Date.UTC(+y, +m - 1, +d));\n  }\n  const iso = new Date(str);\n  return isNaN(iso) ? null : iso;\n}\n\nfunction formatISO(date) {\n  if (!date) return null;\n  return date.toISOString().split('T')[0];\n}\n\nfunction normalizeKey(key) {\n  return key?.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').replace(/[^a-z0-9]/g, '') || '';\n}\n\nfunction getField(row, ...variants) {\n  const keys = Object.keys(row);\n  for (const v of variants) {\n    const target = normalizeKey(v);\n    for (const k of keys) {\n      if (normalizeKey(k) === target) return row[k];\n    }\n  }\n  return null;\n}\n\nconst items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const row = item.json || {};\n  \n  const chapa = String(row['MAT'] || row['MATRICULA'] || row['CHAPA'] || row['chapa'] || '').trim();\n  const nome = String(row['NOME'] || row['NOME COMPLETO'] || row['nome'] || '').trim();\n  \n  if (!chapa || !nome) continue;\n\n  const rowData = {\n    chapa,\n    nome,\n    funcao: getField(row, 'FUNCAO RM ATUALIZADA', 'FUNCAO', 'CARGO'),\n    status: getField(row, 'STATUS', 'SITUACAO'),\n    area: getField(row, 'AREA DE NEGOCIO', 'AREA'),\n    cid: getField(row, 'CIP DE LIBERAÇÃO', 'CIP'),\n    rh: getField(row, 'RH'),\n    saude: getField(row, 'SAÚDE', 'SAUDE'),\n    seguranca: getField(row, 'SEGURANÇA', 'SEGURANCA'),\n    grd: getField(row, 'GRD'),\n    obs_grd: getField(row, 'OBSERVAÇÃO GRD', 'OBS'),\n    data_admissao: formatISO(parseDate(getField(row, 'DATA ADMISSÃO', 'ADMISSAO'))),\n    liberacao_ecoordin: formatISO(parseDate(getField(row, 'DATA DE LIBERAÇÃO E-COORDINA'))),\n    envio_cliente: formatISO(parseDate(getField(row, 'ENVIO PARA O CLIENTE', 'ENVIO CLIENTE')))\n  };\n\n  output.push({ json: rowData });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        176
      ],
      "id": "transform_data",
      "name": "Transformar_Dados"
    }
  ],
  "pinData": {},
  "connections": {
    "⏰ Agendar (a cada 1h)": {
      "main": [
        [
          {
            "node": "📋 HTTP: Listar arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 HTTP: Listar arquivo": {
      "main": [
        [
          {
            "node": "🔍 Pegar mais recente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Pegar mais recente": {
      "main": [
        [
          {
            "node": "⬇️ HTTP: Baixar XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⬇️ HTTP: Baixar XLSX": {
      "main": [
        [
          {
            "node": "📊 Ler XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Ler XLSX": {
      "main": [
        [
          {
            "node": "Transformar_Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar_Dados": {
      "main": [
        [
          {
            "node": "🔍 Buscar Todos Registros Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Buscar Todos Registros Supabase": {
      "main": [
        [
          {
            "node": "⚙️ Decidir Ação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Decidir Ação": {
      "main": [
        [
          {
            "node": "❓ É INSERT?",
            "type": "main",
            "index": 0
          },
          {
            "node": "❓ É UPDATE?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ É INSERT?": {
      "main": [
        [
          {
            "node": "➕ Inserir no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ É UPDATE?": {
      "main": [
        [
          {
            "node": "🔄 Atualizar no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}