fluxo/newGoogle Sheets → Supabase - CORRIGIDO.json
{
  "name": "Google Sheets → Supabase UPSERT Otimizado",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// =====================================================\n// COMPARAÇÃO E SEPARAÇÃO INDIVIDUAL\n// =====================================================\n\n// 1. Pega os 79 itens da transformação\nconst planilhaItems = $('Transformar_Dados1').all();\n\n// 2. Pega os dados do banco (que vieram via input do Supabase)\nconst supabaseItems = $input.all();\n\n// 3. Cria mapa do banco\nconst bancoMap = {};\nfor (const item of supabaseItems) {\n  if (item.json && item.json.chapa) {\n    bancoMap[String(item.json.chapa)] = item.json;\n  }\n}\n\n// 4. Gera um item de output para CADA item da planilha\nreturn planilhaItems.map(pItem => {\n  const row = pItem.json;\n  const chapa = String(row.chapa);\n  const dadoBanco = bancoMap[chapa];\n\n  if (!dadoBanco) {\n    return { json: { ...row, operation: 'insert' } };\n  }\n\n  // Verificação de mudanças para evitar updates desnecessários\n  let hasChanges = false;\n  const ignore = ['id', 'created_at', 'updated_at'];\n  for (const key of Object.keys(row)) {\n    if (ignore.includes(key)) continue;\n    if (String(row[key] || '') !== String(dadoBanco[key] || '')) {\n      hasChanges = true;\n      break;\n    }\n  }\n\n  return { json: { ...row, operation: hasChanges ? 'update' : 'skip' } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        -1792
      ],
      "id": "51b95026-f7a4-4c09-93f2-9b15c2f2b31c",
      "name": "⚙️ Decidir Ação"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.operation }}",
              "rightValue": "insert",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "5eb691ac-e627-47f0-8995-03daad6ac1d2"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -592,
        -1920
      ],
      "id": "03c92591-81fd-4ff7-85fc-217ca0f874b4",
      "name": "❓ É INSERT?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.operation }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "2f14db75-3787-4a0a-b290-2313eb6d5274"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -512,
        -1696
      ],
      "id": "c1026646-0fc1-45f4-81d9-1b6510db5268",
      "name": "❓ É UPDATE?"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2480,
        -1792
      ],
      "id": "5d670ec8-3bfb-40ca-a425-cc267d5b9ec9",
      "name": "⏰ Agendar (a cada 1h)1"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "='1Axzocv5JqWwo3_HYARQgL900mGfyyaOq' in parents and trashed=false and mimeType='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' and name contains 'Controle de Liberação Complexo Azulão 950'"
            },
            {
              "name": "orderBy",
              "value": "modifiedTime desc"
            },
            {
              "name": "fields",
              "value": "files(id,name,modifiedTime)"
            },
            {
              "name": "pageSize",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2272,
        -1792
      ],
      "id": "399d50e7-32f7-46a3-8d29-bb298a970e69",
      "name": "📋 HTTP: Listar arquivo1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tpLkUuyanL84uJZR",
          "name": "Google Drive "
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const files = $json.files || [];\nif (!files.length) throw new Error('Nenhum arquivo encontrado');\nreturn [{ json: files[0] }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        -1792
      ],
      "id": "f7a0acb7-c2d1-448a-abd2-21b135b6eacd",
      "name": "🔍 Pegar mais recente1"
    },
    {
      "parameters": {
        "url": "={{ 'https://www.googleapis.com/drive/v3/files/' + $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "alt",
              "value": "media"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1824,
        -1792
      ],
      "id": "362e545e-103f-42d5-9ebd-b4b20f18d6e4",
      "name": "⬇️ HTTP: Baixar XLSX1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tpLkUuyanL84uJZR",
          "name": "Google Drive "
        }
      }
    },
    {
      "parameters": {
        "options": {
          "range": "A7:AZ5000",
          "sheetName": "PR-1 ELECNOR"
        }
      },
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        -1600,
        -1792
      ],
      "id": "36177c24-43e9-4af0-97da-7d4ff3304963",
      "name": "📊 Ler XLSX1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "liberation_data",
        "limit": 10000
      },
      "executeOnce": true,
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1040,
        -1792
      ],
      "id": "afc86559-a1b5-4853-9529-54285afcaa48",
      "name": "🔍 Buscar Todos Registros Supabase2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Edgoxnq69Vx3Bv5T",
          "name": "Supabase_Sistema"
        }
      }
    },
    {
      "parameters": {
        "tableId": "liberation_data",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chapa",
              "fieldValue": "={{ $json.chapa }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            },
            {
              "fieldId": "funcao",
              "fieldValue": "={{ $json.funcao }}"
            },
            {
              "fieldId": "area",
              "fieldValue": "={{ $json.area }}"
            },
            {
              "fieldId": "cid",
              "fieldValue": "={{ $json.cid }}"
            },
            {
              "fieldId": "rh",
              "fieldValue": "={{ $json.rh }}"
            },
            {
              "fieldId": "saude",
              "fieldValue": "={{ $json.saude }}"
            },
            {
              "fieldId": "seguranca",
              "fieldValue": "={{ $json.seguranca }}"
            },
            {
              "fieldId": "grd",
              "fieldValue": "={{ $json.grd }}"
            },
            {
              "fieldId": "obs_grd",
              "fieldValue": "={{ $json.obs_grd }}"
            },
            {
              "fieldId": "data_admissao",
              "fieldValue": "={{ $json.data_admissao }}"
            },
            {
              "fieldId": "liberacao_ecoordin",
              "fieldValue": "={{ $json.liberacao_ecoordin }}"
            },
            {
              "fieldId": "envio_cliente",
              "fieldValue": "={{ $json.envio_cliente }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -288,
        -2032
      ],
      "id": "cde2cb7b-1a21-4792-9798-6c3e035de821",
      "name": "➕ Inserir no Supabase2",
      "credentials": {
        "supabaseApi": {
          "id": "Edgoxnq69Vx3Bv5T",
          "name": "Supabase_Sistema"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * MAPEAMENTO DE DADOS: Planilha -> Tabela liberation_data\n * FILTRO: Apenas admissões a partir de 01/01/2026\n * LOGS: Ativados para depuração de contagem\n */\n\nfunction excelSerialToDate(serial) {\n  const excelEpoch = new Date(Date.UTC(1899, 11, 30));\n  return new Date(excelEpoch.getTime() + Number(serial) * 86400000);\n}\n\nfunction parseDate(value) {\n  if (!value || value === \"\") return null;\n  if (value instanceof Date && !isNaN(value)) return value;\n  if (typeof value === 'number') return excelSerialToDate(value);\n  const str = String(value).trim();\n  const dmy = str.match(/^(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{4})$/);\n  if (dmy) {\n    const [, d, m, y] = dmy;\n    return new Date(Date.UTC(+y, +m - 1, +d));\n  }\n  const iso = new Date(str);\n  return isNaN(iso) ? null : iso;\n}\n\nfunction formatISO(date) {\n  return date ? date.toISOString().split('T')[0] : null;\n}\n\nfunction normalizeKey(key) {\n  return key?.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').replace(/[^a-z0-9]/g, '') || '';\n}\n\nfunction getField(row, ...variants) {\n  const keys = Object.keys(row);\n  for (const v of variants) {\n    const target = normalizeKey(v);\n    for (const k of keys) {\n      if (normalizeKey(k) === target) return row[k];\n    }\n  }\n  return null;\n}\n\nconst items = $input.all();\nconst output = [];\nconst DATA_CORTE = new Date(Date.UTC(2026, 0, 1));\n\nconsole.log(`🚀 Iniciando processamento de ${items.length} linhas...`);\n\nfor (const item of items) {\n  const row = item.json || {};\n  \n  const chapa = String(getField(row, 'MAT', 'MATRICULA', 'CHAPA', 'chapa') || '').trim();\n  const nome = String(getField(row, 'NOME', 'NOME COMPLETO', 'nome') || '').trim();\n  \n  if (!chapa || !nome || nome.toLowerCase().includes('mat')) continue;\n\n  const rawAdmissao = getField(row, 'DATA ADMISSÃO', 'ADMISSAO', 'DATA ADMISSAO', 'DATA ADMISSION');\n  const objDateAdmissao = parseDate(rawAdmissao);\n\n  if (!objDateAdmissao || objDateAdmissao < DATA_CORTE) {\n     // Log de depuração para o usuário ver quem saiu\n     if (chapa === '51624' || nome.includes('ZOE')) {\n       console.log(`⚠️ ZOE ANGEL filtrada! Data: ${rawAdmissao} -> Interpretada: ${objDateAdmissao}`);\n     }\n     continue;\n  }\n\n  const rowData = {\n    chapa,\n    nome,\n    funcao: getField(row, 'FUNÇÃO RM ATUALIZADA', 'FUNCAO', 'CARGO'),\n    area: getField(row, 'AREA DE NEGOCIO', 'AREA'),\n    cid: getField(row, 'CIP DE LIBERAÇÃO', 'CIP'),\n    rh: getField(row, 'RH'),\n    saude: getField(row, 'SAÚDE', 'SAUDE'),\n    seguranca: getField(row, 'SEGURANÇA', 'SEGURANCA'),\n    grd: getField(row, 'GRD'),\n    obs_grd: getField(row, 'OBSERVAÇÃO GRD', 'OBS'),\n    data_admissao: formatISO(objDateAdmissao),\n    liberacao_ecoordin: formatISO(parseDate(getField(row, 'DATA DE LIBERAÇÃO E-COORDINA'))),\n    envio_cliente: formatISO(parseDate(getField(row, 'ENVIO PARA O CLIENTE', 'ENVIO CLIENTE')))\n  };\n\n  output.push({ json: rowData });\n}\n\nconsole.log(`✅ Concluído: ${output.length} registros passaram pelo filtro.`);\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        -1792
      ],
      "id": "a7837459-f0a5-4313-b82e-79d9ea663db9",
      "name": "Transformar_Dados1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41581d84-abab-411b-bf8d-b44f57a05cf1",
              "name": "chapa",
              "value": "={{ $json.chapa }}",
              "type": "string"
            },
            {
              "id": "fe603081-effe-4e38-acf3-30c290679287",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "2ea2f382-dfb1-4d7e-afc6-6436e7af6fd2",
              "name": "funcao",
              "value": "={{ $json.funcao }}",
              "type": "string"
            },
            {
              "id": "864b9051-131a-4284-95db-0ba14b497528",
              "name": "area",
              "value": "={{ $json.area }}",
              "type": "string"
            },
            {
              "id": "9adc6eac-e70d-42e7-9800-8bb3e1dbd0f6",
              "name": "cid",
              "value": "={{ $json.cid }}",
              "type": "string"
            },
            {
              "id": "4e12b173-559a-4cfa-ab7e-1226bd9fa634",
              "name": "rh",
              "value": "={{ $json.rh }}",
              "type": "string"
            },
            {
              "id": "3a029192-ab1e-4230-9a72-76dc8ead43b1",
              "name": "saude",
              "value": "={{ $json.saude }}",
              "type": "string"
            },
            {
              "id": "c3a26425-1417-4b70-8f3f-3e4a9a3709fc",
              "name": "seguranca",
              "value": "={{ $json.seguranca }}",
              "type": "string"
            },
            {
              "id": "94d6d946-f176-4fc4-82d7-fc6bb97ba67a",
              "name": "grd",
              "value": "={{ $json.grd }}",
              "type": "string"
            },
            {
              "id": "fc7dd8b2-d2b0-4331-ac99-590b446fc01c",
              "name": "obs_grd",
              "value": "={{ $json.obs_grd }}",
              "type": "string"
            },
            {
              "id": "5f840fd3-e39e-4c95-b53e-0478b27e6495",
              "name": "data_admissao",
              "value": "={{ $json.data_admissao }}",
              "type": "string"
            },
            {
              "id": "9f3fece3-433f-43cb-9687-993a17009104",
              "name": "liberacao_ecoordin",
              "value": "={{ $json.liberacao_ecoordin }}",
              "type": "string"
            },
            {
              "id": "8b50fd0a-dbd1-4215-8bd2-28a1456c19e1",
              "name": "envio_cliente",
              "value": "={{ $json.envio_cliente }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1168,
        -2000
      ],
      "id": "8da6d280-537d-4b40-97d8-5e08d98a001e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "liberation_data",
        "filters": {
          "conditions": [
            {
              "keyName": "chapa",
              "condition": "eq",
              "keyValue": "={{ $json.chapa }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chapa",
              "fieldValue": "={{ $json.chapa }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            },
            {
              "fieldId": "funcao",
              "fieldValue": "={{ $json.funcao }}"
            },
            {
              "fieldId": "area",
              "fieldValue": "={{ $json.area }}"
            },
            {
              "fieldId": "cid",
              "fieldValue": "={{ $json.cid }}"
            },
            {
              "fieldId": "rh",
              "fieldValue": "={{ $json.rh }}"
            },
            {
              "fieldId": "saude",
              "fieldValue": "={{ $json.saude }}"
            },
            {
              "fieldId": "seguranca",
              "fieldValue": "={{ $json.seguranca }}"
            },
            {
              "fieldId": "grd",
              "fieldValue": "={{ $json.grd }}"
            },
            {
              "fieldId": "obs_grd",
              "fieldValue": "={{ $json.obs_grd }}"
            },
            {
              "fieldId": "data_admissao",
              "fieldValue": "={{ $json.data_admissao }}"
            },
            {
              "fieldId": "liberacao_ecoordin",
              "fieldValue": "={{ $json.liberacao_ecoordin }}"
            },
            {
              "fieldId": "envio_cliente",
              "fieldValue": "={{ $json.envio_cliente }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -96,
        -1744
      ],
      "id": "4a7c4666-5a1e-4ab9-a0b5-2d017891dd13",
      "name": "➕ Inserir no Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "Edgoxnq69Vx3Bv5T",
          "name": "Supabase_Sistema"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "⚙️ Decidir Ação": {
      "main": [
        [
          {
            "node": "❓ É INSERT?",
            "type": "main",
            "index": 0
          },
          {
            "node": "❓ É UPDATE?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ É INSERT?": {
      "main": [
        [
          {
            "node": "➕ Inserir no Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ É UPDATE?": {
      "main": [
        [
          {
            "node": "➕ Inserir no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Agendar (a cada 1h)1": {
      "main": [
        [
          {
            "node": "📋 HTTP: Listar arquivo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 HTTP: Listar arquivo1": {
      "main": [
        [
          {
            "node": "🔍 Pegar mais recente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Pegar mais recente1": {
      "main": [
        [
          {
            "node": "⬇️ HTTP: Baixar XLSX1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⬇️ HTTP: Baixar XLSX1": {
      "main": [
        [
          {
            "node": "📊 Ler XLSX1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Ler XLSX1": {
      "main": [
        [
          {
            "node": "Transformar_Dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Buscar Todos Registros Supabase2": {
      "main": [
        [
          {
            "node": "⚙️ Decidir Ação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar_Dados1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "🔍 Buscar Todos Registros Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e11e5805-d2aa-43f3-912f-a3fef6d8a00f",
  "meta": {
    "instanceId": "efdfc9b5a057cb6246e691bd5c59604d7a02bf1bed5a4eb9344c1cbb89ac8938"
  },
  "id": "R7P8tvc40tB-7rax9JH0a",
  "tags": []
}