fluxo/Webhook → Google Sheets (Ecoordina) - V3 FINAL (1).json
{
  "name": "Webhook → Google Sheets (Ecoordina) - V3 FINAL",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-date",
              "leftValue": "={{ $json.liberacao_ecoordin }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2016,
        -9216
      ],
      "id": "4dc4c695-ed16-451c-ae64-807806e605d3",
      "name": "Tem Data p/ Atualizar?"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2992,
        -9424
      ],
      "id": "0357b321-f552-417e-9e8e-0516ecd32846",
      "name": "Agendar Sincronização3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zYOgUNgNkUA5C5N2pLZ-0ub5Um_uZ2inCh0YDi1JDSo",
          "mode": "list",
          "cachedResultName": "Ecoordina"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2784,
        -9520
      ],
      "id": "4768edf2-62b2-49aa-b138-ab5db7afc97e",
      "name": "Ler Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Vlzl8CRBSmzf3k4e",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "liberation_data",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2784,
        -9328
      ],
      "id": "16648958-b576-44d1-bd73-07afc7e58c1b",
      "name": "Buscar Registros Existentes3",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Edgoxnq69Vx3Bv5T",
          "name": "Supabase_Sistema"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2592,
        -9424
      ],
      "id": "72c30b10-a14b-4c3f-bb9b-09b629054b1e",
      "name": "Combinar Dados3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Processa INSERÇÕES e ATUALIZAÇÕES em um único nó\nconst items = $input.all();\n\nconst sheetsData = [];\nconst supabaseData = [];\n\nitems.forEach(item => {\n  const json = item.json;\n  if (Object.keys(json).length === 0) return;\n  \n  if (json.MAT !== undefined) {\n    sheetsData.push(json);\n  } else if (json.id !== undefined || json.chapa !== undefined) {\n    supabaseData.push(json);\n  }\n});\n\n// Map de registros existentes\nconst existingMap = new Map();\nsupabaseData.forEach(item => {\n  if (item.chapa) {\n    existingMap.set(String(item.chapa).trim(), item);\n  }\n});\n\n// Processa cada registro\nconst results = [];\n\nsheetsData.forEach(item => {\n  if (!item.MAT) return;\n  \n  const chapa = String(item.MAT).trim();\n  const existing = existingMap.get(chapa);\n  \n  const mapped = {\n    chapa: item.MAT,\n    nome: item.NOME || '',\n    funcao: item['FUNÇÃO RM ATUALIZADA'] || '',\n    data_admissao: item['DATA ADMISSÃO'] || '',\n    area: item['AREA DE NEGOCIO'] || '',\n    cid: item['CIP DE LIBERAÇÃO'] || '',\n    liberacao_ecoordin: item['DATA DE LIBERAÇÃO E-COORDINA'] || '',\n    envio_cliente: item['ENVIO PARA O CLIENTE'] || '',\n    rh: item.RH || '',\n    saude: item['SAÚDE'] || '',\n    seguranca: item['SEGURANÇA'] || '',\n    grd: item.GRD || '',\n    observacao_grd: item['OBSERVAÇÃO GRD'] || ''\n  };\n  \n  if (existing) {\n    // Atualização\n    const newData = mapped.liberacao_ecoordin;\n    const oldData = existing.liberacao_ecoordin || '';\n    \n    // Só manda UPDATE se tiver data e ela mudou\n    if (newData && newData !== oldData) {\n      mapped.operacao = 'UPDATE';\n      results.push(mapped);\n    }\n  } else {\n    // Inserção\n    mapped.operacao = 'INSERT';\n    results.push(mapped);\n  }\n});\n\nreturn results.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2384,
        -9424
      ],
      "id": "e5ed08bd-fb53-44e7-9c6a-29e375e41073",
      "name": "Processar Dados1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.operacao }}",
                    "rightValue": "INSERT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "inserir"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.operacao }}",
                    "rightValue": "UPDATE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "atualizar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -2192,
        -9424
      ],
      "id": "8df646a1-062a-4e0c-bdfa-16511b64d6c7",
      "name": "Separar Operações1"
    },
    {
      "parameters": {
        "tableId": "liberation_data",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chapa",
              "fieldValue": "={{ $json.chapa }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            },
            {
              "fieldId": "funcao",
              "fieldValue": "={{ $json.funcao }}"
            },
            {
              "fieldId": "data_admissao",
              "fieldValue": "={{ $json.data_admissao }}"
            },
            {
              "fieldId": "area",
              "fieldValue": "={{ $json.area }}"
            },
            {
              "fieldId": "cid",
              "fieldValue": "={{ $json.cid }}"
            },
            {
              "fieldId": "liberacao_ecoordin",
              "fieldValue": "={{ $json.liberacao_ecoordin }}"
            },
            {
              "fieldId": "envio_cliente",
              "fieldValue": "={{ $json.envio_cliente }}"
            },
            {
              "fieldId": "rh",
              "fieldValue": "={{ $json.rh }}"
            },
            {
              "fieldId": "saude",
              "fieldValue": "={{ $json.saude }}"
            },
            {
              "fieldId": "seguranca",
              "fieldValue": "={{ $json.seguranca }}"
            },
            {
              "fieldId": "grd",
              "fieldValue": "={{ $json.grd }}"
            },
            {
              "fieldId": "obs_grd",
              "fieldValue": "={{ $json.observacao_grd }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1888,
        -9648
      ],
      "id": "c15ad2b9-0c37-44bb-adc2-a6d4e208cf43",
      "name": "Inserir no Supabase3",
      "credentials": {
        "supabaseApi": {
          "id": "Edgoxnq69Vx3Bv5T",
          "name": "Supabase_Sistema"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "liberation_data",
        "filters": {
          "conditions": [
            {
              "keyName": "chapa",
              "condition": "eq",
              "keyValue": "={{ $json.chapa }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "liberacao_ecoordin",
              "fieldValue": "={{ $json.liberacao_ecoordin }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1744,
        -9232
      ],
      "id": "99007867-c61c-47a2-b517-71b8c49647a0",
      "name": "Atualizar no Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "Edgoxnq69Vx3Bv5T",
          "name": "Supabase_Sistema"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1568,
        -9456
      ],
      "id": "951a05a1-735c-4214-a36a-8bac22693496",
      "name": "Combinar Resultados1"
    }
  ],
  "pinData": {},
  "connections": {
    "Tem Data p/ Atualizar?": {
      "main": [
        [
          {
            "node": "Atualizar no Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Sincronização3": {
      "main": [
        [
          {
            "node": "Ler Google Sheets1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Registros Existentes3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Google Sheets1": {
      "main": [
        [
          {
            "node": "Combinar Dados3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Registros Existentes3": {
      "main": [
        [
          {
            "node": "Combinar Dados3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combinar Dados3": {
      "main": [
        [
          {
            "node": "Processar Dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Dados1": {
      "main": [
        [
          {
            "node": "Separar Operações1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar Operações1": {
      "main": [
        [
          {
            "node": "Inserir no Supabase3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tem Data p/ Atualizar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir no Supabase3": {
      "main": [
        [
          {
            "node": "Combinar Resultados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar no Supabase1": {
      "main": [
        [
          {
            "node": "Combinar Resultados1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e6b75d42-9c3a-4a28-ae51-a91b12b054d7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "efdfc9b5a057cb6246e691bd5c59604d7a02bf1bed5a4eb9344c1cbb89ac8938"
  },
  "id": "PeJLv51hyflP2IuO",
  "tags": []
}