fluxo json/Fluxo_Supabase_Logica_Completa_Corrigida.json
{
    "name": "Google Sheets → Supabase (Lógica Completa Corrigida)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                -4960,
                -16720
            ],
            "id": "2b89bd52-2ef1-47d3-8b64-3bc99aa1b0e4",
            "name": "⏰ Agendar (a cada 1h)"
        },
        {
            "parameters": {
                "url": "https://www.googleapis.com/drive/v3/files",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleDriveOAuth2Api",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "q",
                            "value": "='1Axzocv5JqWwo3_HYARQgL900mGfyyaOq' in parents and trashed=false and mimeType='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' and name contains 'Controle de Liberação Complexo Azulão 950'"
                        },
                        {
                            "name": "orderBy",
                            "value": "modifiedTime desc"
                        },
                        {
                            "name": "fields",
                            "value": "files(id,name,modifiedTime)"
                        },
                        {
                            "name": "pageSize",
                            "value": "1"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -4752,
                -16720
            ],
            "id": "5bf78a1f-3e32-48aa-9fe6-a00801671a9d",
            "name": "📋 HTTP: Listar arquivo",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "tpLkUuyanL84uJZR",
                    "name": "Google Drive "
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const files = $json.files || [];\nif (!files.length) throw new Error('Nenhum arquivo encontrado');\nreturn [{ json: files[0] }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -4528,
                -16720
            ],
            "id": "7cd3e6f2-3d77-4c02-b6a3-e8efba3626aa",
            "name": "🔍 Pegar mais recente"
        },
        {
            "parameters": {
                "url": "={{ 'https://www.googleapis.com/drive/v3/files/' + $json.id }}",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleDriveOAuth2Api",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "alt",
                            "value": "media"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -4304,
                -16720
            ],
            "id": "0f6e6a07-c60c-42a7-9b8d-91a71ca787cf",
            "name": "⬇️ HTTP: Baixar XLSX",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "tpLkUuyanL84uJZR",
                    "name": "Google Drive "
                }
            }
        },
        {
            "parameters": {
                "options": {
                    "range": "A7:Z5000",
                    "sheetName": "PR-1 ELECNOR"
                }
            },
            "type": "n8n-nodes-base.spreadsheetFile",
            "typeVersion": 1,
            "position": [
                -4080,
                -16720
            ],
            "id": "6fa7e92d-56dc-4c0a-8dfb-6abe6c80533f",
            "name": "📊 Ler XLSX"
        },
        {
            "parameters": {
                "jsCode": "function excelSerialToDate(serialNumber) {\n  const excelEpoch = new Date(Date.UTC(1899, 11, 30));\n  return new Date(excelEpoch.getTime() + Number(serialNumber) * 86400000);\n}\n\nfunction parseDate(value) {\n  if (!value || value === '') return null;\n  if (value instanceof Date && !isNaN(value)) return value;\n  if (typeof value === 'number') {\n    const date = excelSerialToDate(value);\n    return isNaN(date) ? null : date;\n  }\n  const str = String(value).trim();\n  const ddmmyyyy = str.match(/^(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})$/);\n  if (ddmmyyyy) {\n    const [_, day, month, year] = ddmmyyyy;\n    const date = new Date(Date.UTC(Number(year), Number(month) - 1, Number(day)));\n    return isNaN(date) ? null : date;\n  }\n  const isoDate = new Date(str);\n  return isNaN(isoDate) ? null : isoDate;\n}\n\nfunction formatDateISO(date) {\n  const year = date.getUTCFullYear();\n  const month = String(date.getUTCMonth() + 1).padStart(2, '0');\n  const day = String(date.getUTCDate()).padStart(2, '0');\n  return `${year}-${month}-${day}`;\n}\n\n// Normaliza texto para comparação: 'OBSERVAÇÃO GRD' -> 'observacaogrd'\n// Remove acentos, símbolos e espaços\nfunction normalizeKey(key) {\n  if (!key) return '';\n  return key.toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, \"\") // Remove acentos\n    .replace(/[^a-z0-9]/g, \"\"); // Mantém apenas letras e números\n}\n\n// Encontra o valor na linha usando busca aproximada (fuzzy)\nfunction getFuzzyField(row, targetKeywords) {\n  const rowKeys = Object.keys(row);\n  const normalizedTarget = normalizeKey(targetKeywords);\n  \n  // 1. Tenta match exato primeiro (normalizado)\n  for (const key of rowKeys) {\n    if (normalizeKey(key) === normalizedTarget) return row[key];\n  }\n\n  // 2. Se não achou, tenta match parcial (ex: 'obs grd' contém 'grd'? Cuidado com falso positivo)\n  // Vamos usar uma lista de possibilidades exatas definidas na chamada\n  return null;\n}\n\nfunction getField(row, ...variants) {\n  const rowKeys = Object.keys(row);\n  \n  for (const variant of variants) {\n    const normalizedVariant = normalizeKey(variant);\n    for (const key of rowKeys) {\n      if (normalizeKey(key) === normalizedVariant) {\n        const val = row[key];\n        if (val !== undefined && val !== null) return val;\n      }\n    }\n  }\n  return null;\n}\n\nfunction normalize(value) {\n  if (value === null || value === undefined) return null;\n  const str = String(value).trim();\n  return str === '' ? null : str;\n}\n\nconst items = $input.all();\nif (!items.length) return [];\n\nconst processedRows = [];\n\nfor (const item of items) {\n  const row = item.json || {};\n\n  const chapa = normalize(getField(row, 'MAT', 'MATRICULA', 'CHAPA'));\n  const nome = normalize(getField(row, 'NOME', 'NOME COMPLETO', 'FUNCIONARIO'));\n  if (!chapa || !nome) continue;\n\n  const funcao = normalize(getField(row, 'FUNCAO', 'FUNÇÃO', 'CARGO'));\n  const status = normalize(getField(row, 'STATUS', 'SITUACAO'));\n  const area = normalize(getField(row, 'AREA', 'ÁREA', 'DEPARTAMENTO'));\n  const cid = normalize(getField(row, 'CIP DE LIBERAÇÃO', 'CIP DE LIBERACAO', 'CID', 'cid', 'UG', 'U.G', 'UNIDADE'));\n  const rh = normalize(getField(row, 'RH', 'rh'));\n  const saude = normalize(getField(row, 'SAÚDE', 'SAUDE', 'saude'));\n  const seguranca = normalize(getField(row, 'SEGURANÇA', 'SEGURANCA', 'seguranca'));\n  const grd = normalize(getField(row, 'GRD', 'grd'));\n  const obs_grd = normalize(getField(row, 'OBSERVAÇÃO GRD', 'OBSERVACAO GRD', 'OBS GRD', 'obs_grd', 'OBSERVACOES', 'OBS'));\n\n  const dataAcessoRaw = normalize(getField(row, 'DATA ACESSO', 'ACESSO PROJETO'));\n  const dataAdmissaoRaw = normalize(getField(row, 'ADMISSAO', 'DATA ADMISSAO', 'DATA DE ADMISSAO'));\n  const liberacaoRaw = normalize(getField(row, 'DATA DE LIBERAÇÃO E-COORDINA', 'DATA DE LIBERACAO E-COORDINA', 'liberacao_ecoordin'));\n  const envioClienteRaw = normalize(getField(row, 'ENVIO CLIENTE', 'DATA ENVIO CLIENTE', 'ENVIO AO CLIENTE', 'DATA DE ENVIO', 'envio_cliente'));\n\n  const dataAcessoDate = parseDate(dataAcessoRaw);\n  const dataAdmissaoDate = parseDate(dataAdmissaoRaw);\n  const liberacaoDate = parseDate(liberacaoRaw);\n\n  // --- FILTRO DE DATA (Solicitação: 01/01/2026 até Hoje) ---\n  const FILTER_START = new Date('2026-01-01T00:00:00.000Z');\n  const FILTER_END = new Date(); // Data/Hora atual do servidor\n  FILTER_END.setDate(FILTER_END.getDate() - 1);\n\n  // Se não tiver data de admissão válida, ignoramos o registro (conforme regra restritiva)\n  // Se quiser incluir sem data, mude para: if (dataAdmissaoDate && ...)\n  if (!dataAdmissaoDate) continue;\n\n  // Verifica intervalo\n  if (dataAdmissaoDate < FILTER_START || dataAdmissaoDate > FILTER_END) {\n      continue; // Pula este registro se estiver fora do período\n  }\n  // -----------------------------------------------------------\n\n  // envio_cliente é salvo como texto, mas vamos tentar formatar se for data, senão mantém original\n  const envioClienteDate = parseDate(envioClienteRaw);\n  const envioClienteFinal = envioClienteDate ? formatDateISO(envioClienteDate) : envioClienteRaw;\n\n  const rowData = {\n    chapa: String(chapa),\n    nome: String(nome),\n    funcao,\n    status,\n    area,\n    cid,\n    rh,\n    saude,\n    seguranca,\n    grd,\n    obs_grd,\n    envio_cliente: envioClienteFinal,\n    data_acesso_projeto: dataAcessoDate ? formatDateISO(dataAcessoDate) : null,\n    data_admissao: dataAdmissaoDate ? formatDateISO(dataAdmissaoDate) : null,\n    liberacao_ecoordin: liberacaoDate ? formatDateISO(liberacaoDate) : null\n  };\n\n  processedRows.push({ json: rowData });\n}\n\nreturn processedRows;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -3872,
                -16720
            ],
            "id": "c76f36ab-c3f0-401d-9fc4-39b736b294ac",
            "name": "Transformar_Dados"
        },
        {
            "parameters": {
                "operation": "getAll",
                "limit": 10000
            },
            "executeOnce": true,
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -3424,
                -16720
            ],
            "id": "68a91845-f272-459e-8437-cd14b3594ce8",
            "name": "Buscar_Supabase",
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "Edgoxnq69Vx3Bv5T",
                    "name": "Supabase_Sistema"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// --- OTIMIZAÇÃO DE PERFORMANCE ---\n\n// 1. Carrega todos os itens da planilha (do nó de Transformação direto)\nconst planilhaItems = $('Transformar_Dados').all();\n\n// 2. Carrega todos os itens do banco (input deste nó)\nconst supabaseItems = $input.all();\n\n// 3. Cria um Mapa (Índice) dos dados do banco para busca rápida por CHAPA\n// Ex: { '12345': { ...dados_do_banco }, '67890': { ... } }\nconst bancoMap = {};\nfor (const item of supabaseItems) {\n    if (item.json && item.json.chapa) {\n        bancoMap[String(item.json.chapa)] = item.json;\n    }\n}\n\nconst results = [];\n\n// 4. Itera sobre CADA item da planilha\nfor (const pItem of planilhaItems) {\n    // AVISO: Agora lemos direto do nó de transformação, que retorna o JSON plano, sem o wrapper 'planilha_data'\n    const planilhaData = pItem.json;\n    if (!planilhaData || !planilhaData.chapa) continue;\n\n    const chapa = String(planilhaData.chapa);\n\n    // Busca instantânea no Mapa\n    const dadosBanco = bancoMap[chapa];\n    const existeNoBanco = !!dadosBanco;\n\n    // --- DECISÃO ---\n\n    // CASO 1: INSERT (Não existe no banco)\n    if (!existeNoBanco) {\n        results.push({\n            json: {\n                operation: 'INSERT',\n                ...planilhaData\n            }\n        });\n        continue;\n    }\n\n    // CASO 2: VERIFICAR MUDANÇAS (Existe)\n    const updateFields = {};\n    let hasChanges = false;\n    const ignoreFields = ['id', 'created_at', 'updated_at', 'last_modified', 'operation'];\n\n    for (const key of Object.keys(planilhaData)) {\n        if (ignoreFields.includes(key)) continue;\n\n        const valorPlanilha = planilhaData[key];\n        const valorBanco = dadosBanco[key];\n\n        const vP = valorPlanilha === null || valorPlanilha === undefined ? '' : String(valorPlanilha);\n        const vB = valorBanco === null || valorBanco === undefined ? '' : String(valorBanco);\n\n        if (vP !== vB) {\n            updateFields[key] = valorPlanilha;\n            hasChanges = true;\n        }\n    }\n\n    if (hasChanges) {\n        results.push({\n            json: {\n                operation: 'UPDATE',\n                chapa: chapa,\n                updateFields: updateFields\n            }\n        });\n    } else {\n        results.push({\n            json: {\n                operation: 'SKIP',\n                chapa: chapa,\n                message: 'Dados idênticos'\n            }\n        });\n    }\n}\n\nreturn results;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -3200,
                -16720
            ],
            "id": "88a9bcc8-8a4a-49be-b22d-b113b55356fa",
            "name": "Comparar_Decidir"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.operation }}",
                            "rightValue": "INSERT",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            },
                            "id": "insert_condition"
                        },
                        {
                            "leftValue": "={{ $json.operation }}",
                            "rightValue": "UPDATE",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            },
                            "id": "update_condition"
                        }
                    ],
                    "combinator": "or"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -2976,
                -16720
            ],
            "id": "f18a3b77-ed4d-4489-b128-42749f662aeb",
            "name": "🔀 Roteador"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.operation }}",
                            "rightValue": "INSERT",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            },
                            "id": "is_insert"
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -2752,
                -16720
            ],
            "id": "split_insert_update",
            "name": "É Insert?"
        },
        {
            "parameters": {
                "operation": "create",
                "tableId": "liberation_data"
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -2528,
                -16832
            ],
            "id": "8333a3a5-a7ad-45d4-91ea-d7e3b25ce05e",
            "name": "➕ Supabase: INSERT",
            "credentials": {
                "supabaseApi": {
                    "id": "Edgoxnq69Vx3Bv5T",
                    "name": "Supabase_Sistema"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "liberation_data",
                "updateKey": "chapa",
                "columns": "={{ Object.keys($json.updateFields).join(',') }}"
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -2528,
                -16608
            ],
            "id": "23df50b0-5ae3-44c2-9a2e-066000658547",
            "name": "🔄 Supabase: UPDATE",
            "credentials": {
                "supabaseApi": {
                    "id": "Edgoxnq69Vx3Bv5T",
                    "name": "Supabase_Sistema"
                }
            },
            "notes": "Atenção: O nó de Update nativo do n8n pode ser chato com campos dinâmicos. Configurei para tentar pegar as chaves dinamicamente ou usar Custom API Call se falhar."
        },
        {
            "parameters": {
                "operation": "customApiCall",
                "resource": "database",
                "requestMethod": "PATCH",
                "endpoint": "={{ '/liberation_data?chapa=eq.' + $json.chapa }}",
                "jsonParameters": true,
                "options": {
                    "body": "={{ $json.updateFields }}"
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -2528,
                -16608
            ],
            "id": "update_api_call_safe",
            "name": "🔄 Supabase: UPDATE (Safe API)",
            "credentials": {
                "supabaseApi": {
                    "id": "Edgoxnq69Vx3Bv5T",
                    "name": "Supabase_Sistema"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "⏰ Agendar (a cada 1h)": {
            "main": [
                [
                    {
                        "node": "📋 HTTP: Listar arquivo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📋 HTTP: Listar arquivo": {
            "main": [
                [
                    {
                        "node": "🔍 Pegar mais recente",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🔍 Pegar mais recente": {
            "main": [
                [
                    {
                        "node": "⬇️ HTTP: Baixar XLSX",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "⬇️ HTTP: Baixar XLSX": {
            "main": [
                [
                    {
                        "node": "📊 Ler XLSX",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📊 Ler XLSX": {
            "main": [
                [
                    {
                        "node": "Transformar_Dados",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transformar_Dados": {
            "main": [
                [
                    {
                        "node": "Buscar_Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar_Supabase": {
            "main": [
                [
                    {
                        "node": "Comparar_Decidir",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Comparar_Decidir": {
            "main": [
                [
                    {
                        "node": "🔀 Roteador",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🔀 Roteador": {
            "main": [
                [
                    {
                        "node": "É Insert?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "É Insert?": {
            "main": [
                [
                    {
                        "node": "➕ Supabase: INSERT",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "🔄 Supabase: UPDATE (Safe API)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "logic-fixed-v3",
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "tags": []
}