fluxo json/Fluxo_Supabase_Upsert_Otimizado.json
{
    "name": "Google Sheets → Supabase UPSERT (Via API Customizada)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                -4960,
                -16720
            ],
            "id": "2b89bd52-2ef1-47d3-8b64-3bc99aa1b0e4",
            "name": "⏰ Agendar (a cada 1h)"
        },
        {
            "parameters": {
                "url": "https://www.googleapis.com/drive/v3/files",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleDriveOAuth2Api",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "q",
                            "value": "='1Axzocv5JqWwo3_HYARQgL900mGfyyaOq' in parents and trashed=false and mimeType='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' and name contains 'Controle de Liberação Complexo Azulão 950'"
                        },
                        {
                            "name": "orderBy",
                            "value": "modifiedTime desc"
                        },
                        {
                            "name": "fields",
                            "value": "files(id,name,modifiedTime)"
                        },
                        {
                            "name": "pageSize",
                            "value": "1"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -4752,
                -16720
            ],
            "id": "5bf78a1f-3e32-48aa-9fe6-a00801671a9d",
            "name": "📋 HTTP: Listar arquivo",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "tpLkUuyanL84uJZR",
                    "name": "Google Drive "
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const files = $json.files || [];\nif (!files.length) throw new Error('Nenhum arquivo encontrado');\nreturn [{ json: files[0] }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -4528,
                -16720
            ],
            "id": "7cd3e6f2-3d77-4c02-b6a3-e8efba3626aa",
            "name": "🔍 Pegar mais recente"
        },
        {
            "parameters": {
                "url": "={{ 'https://www.googleapis.com/drive/v3/files/' + $json.id }}",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleDriveOAuth2Api",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "alt",
                            "value": "media"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -4304,
                -16720
            ],
            "id": "0f6e6a07-c60c-42a7-9b8d-91a71ca787cf",
            "name": "⬇️ HTTP: Baixar XLSX",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "tpLkUuyanL84uJZR",
                    "name": "Google Drive "
                }
            }
        },
        {
            "parameters": {
                "options": {
                    "range": "A7:Z5000",
                    "sheetName": "PR-1 ELECNOR"
                }
            },
            "type": "n8n-nodes-base.spreadsheetFile",
            "typeVersion": 1,
            "position": [
                -4080,
                -16720
            ],
            "id": "6fa7e92d-56dc-4c0a-8dfb-6abe6c80533f",
            "name": "📊 Ler XLSX"
        },
        {
            "parameters": {
                "jsCode": "function excelSerialToDate(serialNumber) {\n  const excelEpoch = new Date(Date.UTC(1899, 11, 30));\n  return new Date(excelEpoch.getTime() + Number(serialNumber) * 86400000);\n}\n\nfunction parseDate(value) {\n  if (!value || value === '') return null;\n  if (value instanceof Date && !isNaN(value)) return value;\n  if (typeof value === 'number') {\n    const date = excelSerialToDate(value);\n    return isNaN(date) ? null : date;\n  }\n  const str = String(value).trim();\n  const ddmmyyyy = str.match(/^(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})$/);\n  if (ddmmyyyy) {\n    const [_, day, month, year] = ddmmyyyy;\n    const date = new Date(Date.UTC(Number(year), Number(month) - 1, Number(day)));\n    return isNaN(date) ? null : date;\n  }\n  const isoDate = new Date(str);\n  return isNaN(isoDate) ? null : isoDate;\n}\n\nfunction formatDateISO(date) {\n  const year = date.getUTCFullYear();\n  const month = String(date.getUTCMonth() + 1).padStart(2, '0');\n  const day = String(date.getUTCDate()).padStart(2, '0');\n  return `${year}-${month}-${day}`;\n}\n\nfunction normalize(value) {\n  if (value === null || value === undefined) return null;\n  const str = String(value).trim();\n  return str === '' ? null : str;\n}\n\nfunction getField(row, ...fieldNames) {\n  for (const fieldName of fieldNames) {\n    if (row[fieldName] !== undefined && row[fieldName] !== null) {\n      return row[fieldName];\n    }\n  }\n  return null;\n}\n\nconst items = $input.all();\nif (!items.length) return [];\n\nconst processedRows = [];\n\nfor (const item of items) {\n  const row = item.json || {};\n\n  const chapa = normalize(getField(row, 'MAT', 'MATRICULA', 'Matrícula', 'matricula', 'CHAPA', 'chapa'));\n  const nome = normalize(getField(row, 'NOME', 'Nome', 'nome'));\n  if (!chapa || !nome) continue;\n\n  const funcao = normalize(getField(row, 'FUNÇÃO RM ATUALIZADA', 'FUNCAO RM ATUALIZADA', 'FUNÇÃO', 'FUNCAO', 'funcao'));\n  const status = normalize(getField(row, 'STATUS', 'Status', 'status'));\n  const area = normalize(getField(row, 'AREA DE NEGOCIO', 'ÁREA DE NEGÓCIO', 'AREA', 'area'));\n  const cid = normalize(getField(row, 'CIP DE LIBERAÇÃO', 'CIP DE LIBERACAO', 'CID', 'cid'));\n  const rh = normalize(getField(row, 'RH', 'rh'));\n  const saude = normalize(getField(row, 'SAÚDE', 'SAUDE', 'saude'));\n  const seguranca = normalize(getField(row, 'SEGURANÇA', 'SEGURANCA', 'seguranca'));\n  const grd = normalize(getField(row, 'GRD', 'grd'));\n  const obs_grd = normalize(getField(row, 'OBSERVAÇÃO GRD', 'OBSERVACAO GRD', 'OBS GRD', 'obs_grd'));\n\n  const dataAcessoRaw = normalize(getField(row, 'DATA DE ACESSO AO PROJETO', 'DATA ACESSO PROJETO', 'data_acesso'));\n  const dataAdmissaoRaw = normalize(getField(row, 'DATA ADMISSÃO', 'DATA ADMISSAO', 'DATA DE ADMISSÃO', 'data_admissao'));\n  const liberacaoRaw = normalize(getField(row, 'DATA DE LIBERAÇÃO E-COORDINA', 'DATA DE LIBERACAO E-COORDINA', 'liberacao_ecoordin'));\n\n  const dataAcessoDate = parseDate(dataAcessoRaw);\n  const dataAdmissaoDate = parseDate(dataAdmissaoRaw);\n  const liberacaoDate = parseDate(liberacaoRaw);\n\n  const rowData = {\n    chapa: String(chapa),\n    nome: String(nome),\n    funcao,\n    status,\n    area,\n    cid,\n    rh,\n    saude,\n    seguranca,\n    grd,\n    obs_grd,\n    data_acesso_projeto: dataAcessoDate ? formatDateISO(dataAcessoDate) : null,\n    data_admissao: dataAdmissaoDate ? formatDateISO(dataAdmissaoDate) : null,\n    liberacao_ecoordin: liberacaoDate ? formatDateISO(liberacaoDate) : null\n  };\n\n  processedRows.push({ json: rowData });\n}\n\nreturn processedRows;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -3872,
                -16720
            ],
            "id": "c76f36ab-c3f0-401d-9fc4-39b736b294ac",
            "name": "🔄 Transformar dados"
        },
        {
            "parameters": {
                "operation": "customApiCall",
                "resource": "database",
                "requestMethod": "POST",
                "endpoint": "/liberation_data?on_conflict=chapa",
                "jsonParameters": true,
                "options": {
                    "headers": {
                        "headerParameters": [
                            {
                                "name": "Prefer",
                                "value": "resolution=merge-duplicates"
                            }
                        ]
                    },
                    "body": "={{ $json }}"
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -3648,
                -16720
            ],
            "id": "d1a8e9b0-4c7b-4d3f-9e6a-5c1234567890",
            "name": "🚀 Supabase Direct Upsert (API)",
            "credentials": {
                "supabaseApi": {
                    "id": "Edgoxnq69Vx3Bv5T",
                    "name": "Supabase_Sistema"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "⏰ Agendar (a cada 1h)": {
            "main": [
                [
                    {
                        "node": "📋 HTTP: Listar arquivo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📋 HTTP: Listar arquivo": {
            "main": [
                [
                    {
                        "node": "🔍 Pegar mais recente",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🔍 Pegar mais recente": {
            "main": [
                [
                    {
                        "node": "⬇️ HTTP: Baixar XLSX",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "⬇️ HTTP: Baixar XLSX": {
            "main": [
                [
                    {
                        "node": "📊 Ler XLSX",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📊 Ler XLSX": {
            "main": [
                [
                    {
                        "node": "🔄 Transformar dados",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🔄 Transformar dados": {
            "main": [
                [
                    {
                        "node": "🚀 Supabase Direct Upsert (API)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "api-upsert-version-1",
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "tags": []
}