fluxo json/Google Sheets → Supabase (EVENT-BASED) FINAL.json
{
    "name": "Google Sheets → Supabase (EVENT-BASED) FINAL",
    "nodes": [
        {
            "parameters": {
                "pollTimes": {
                    "item": [
                        {
                            "mode": "everyMinute"
                        }
                    ]
                },
                "documentId": {
                    "__rl": true,
                    "value": "1Axzocv5JqWwo3_HYARQgL900mGfyyaOq",
                    "mode": "id"
                },
                "event": "fileCreated",
                "options": {
                    "filters": {
                        "name": "Controle de Liberação"
                    }
                }
            },
            "id": "gd_trigger",
            "name": "🚀 Gatilho: Novo Arquivo Drive",
            "type": "n8n-nodes-base.googleDriveTrigger",
            "typeVersion": 1,
            "position": [
                -4960,
                -16720
            ],
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "tpLkUuyanL84uJZR",
                    "name": "Google Drive "
                }
            }
        },
        {
            "parameters": {
                "url": "={{ 'https://www.googleapis.com/drive/v3/files/' + $json.id }}",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleDriveOAuth2Api",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "alt",
                            "value": "media"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -4304,
                -16720
            ],
            "id": "download_xlsx",
            "name": "⬇️ HTTP: Baixar XLSX",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "tpLkUuyanL84uJZR",
                    "name": "Google Drive "
                }
            }
        },
        {
            "parameters": {
                "options": {
                    "range": "A7:Z5000",
                    "sheetName": "PR-1 ELECNOR"
                }
            },
            "type": "n8n-nodes-base.spreadsheetFile",
            "typeVersion": 1,
            "position": [
                -4080,
                -16720
            ],
            "id": "read_xlsx",
            "name": "📊 Ler XLSX"
        },
        {
            "parameters": {
                "jsCode": "/**\n * MAPEAMENTO DE DADOS: Planilha -> Tabela liberation_data\n * FILTRO: Apenas admissões a partir de 01/01/2026\n */\n\nfunction excelSerialToDate(serial) {\n  const excelEpoch = new Date(Date.UTC(1899, 11, 30));\n  return new Date(excelEpoch.getTime() + Number(serial) * 86400000);\n}\n\nfunction parseDate(value) {\n  if (!value || value === \"\") return null;\n  if (value instanceof Date && !isNaN(value)) return value;\n  if (typeof value === 'number') return excelSerialToDate(value);\n  const str = String(value).trim();\n  const dmy = str.match(/^(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{4})$/);\n  if (dmy) {\n    const [, d, m, y] = dmy;\n    return new Date(Date.UTC(+y, +m - 1, +d));\n  }\n  const iso = new Date(str);\n  return isNaN(iso) ? null : iso;\n}\n\nfunction formatISO(date) {\n  return date ? date.toISOString().split('T')[0] : null;\n}\n\nfunction normalizeKey(key) {\n  return key?.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').replace(/[^a-z0-9]/g, '') || '';\n}\n\nfunction getField(row, ...variants) {\n  const keys = Object.keys(row);\n  for (const v of variants) {\n    const target = normalizeKey(v);\n    for (const k of keys) {\n      if (normalizeKey(k) === target) return row[k];\n    }\n  }\n  return null;\n}\n\nconst items = $input.all();\nconst output = [];\nconst DATA_CORTE = new Date(Date.UTC(2026, 0, 1));\n\nfor (const item of items) {\n  const row = item.json || {};\n  \n  const chapa = String(getField(row, 'MAT', 'MATRICULA', 'CHAPA', 'chapa') || '').trim();\n  const nome = String(getField(row, 'NOME', 'NOME COMPLETO', 'nome') || '').trim();\n  \n  if (!chapa || !nome || nome.toLowerCase().includes('mat')) continue;\n\n  const rawAdmissao = getField(row, 'DATA ADMISSÃO', 'ADMISSAO', 'DATA ADMISSAO', 'DATA ADMISSION');\n  const objDateAdmissao = parseDate(rawAdmissao);\n\n  if (!objDateAdmissao || objDateAdmissao < DATA_CORTE) {\n     continue;\n  }\n\n  const rowData = {\n    chapa,\n    nome,\n    funcao: getField(row, 'FUNÇÃO RM ATUALIZADA', 'FUNCAO', 'CARGO'),\n    area: getField(row, 'AREA DE NEGOCIO', 'AREA'),\n    status: getField(row, 'STATUS', 'SITUACAO'),\n    cid: getField(row, 'CIP DE LIBERAÇÃO', 'CIP'),\n    rh: getField(row, 'RH'),\n    saude: getField(row, 'SAÚDE', 'SAUDE'),\n    seguranca: getField(row, 'SEGURANÇA', 'SEGURANCA'),\n    grd: getField(row, 'GRD', 'GERÊNCIA', 'GERENCIA'),\n    obs_grd: getField(row, 'OBSERVAÇÃO GRD', 'OBSERVACAO GRD', 'OBS'),\n    data_admissao: formatISO(objDateAdmissao),\n    liberacao_ecoordin: formatISO(parseDate(getField(row, 'DATA DE LIBERAÇÃO E-COORDINA'))),\n    envio_cliente: formatISO(parseDate(getField(row, 'ENVIO PARA O CLIENTE', 'ENVIO CLIENTE')))\n  };\n\n  output.push({ json: rowData });\n}\n\nreturn output;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -3873,
                -16720
            ],
            "id": "transform_data",
            "name": "Transformar_Dados"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "liberation_data",
                "limit": 10000,
                "columns": "chapa,nome,funcao,status,area,cid,rh,saude,seguranca,grd,obs_grd,data_admissao,liberacao_ecoordin,envio_cliente"
            },
            "executeOnce": true,
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -3424,
                -16720
            ],
            "id": "supabase_bulk_fetch",
            "name": "Buscar_Supabase",
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "Edgoxnq69Vx3Bv5T",
                    "name": "Supabase_Sistema"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// --- OTIMIZAÇÃO DE PERFORMANCE (REFERÊNCIA CORRIGIDA) ---\n\n// 1. Carrega os dados transformados (Nome do nó corrigido aqui)\nconst planilhaItems = $(\"Transformar_Dados\").all();\n\n// 2. Carrega os dados do Supabase\nconst supabaseItems = $input.all();\n\nconst bancoMap = {};\nfor (const item of supabaseItems) {\n    if (item.json && item.json.chapa) {\n        bancoMap[String(item.json.chapa)] = item.json;\n    }\n}\n\nconst results = [];\n\nfor (const pItem of planilhaItems) {\n    const planilhaData = pItem.json;\n    if (!planilhaData || !planilhaData.chapa) continue;\n\n    const chapa = String(planilhaData.chapa);\n    const dadosBanco = bancoMap[chapa];\n    const existeNoBanco = !!dadosBanco;\n\n    if (!existeNoBanco) {\n        results.push({\n            json: {\n                ...planilhaData,\n                operation: 'INSERT'\n            }\n        });\n        continue;\n    }\n\n    const updateFields = {};\n    let hasChanges = false;\n    const comparisonFields = ['nome', 'funcao', 'status', 'area', 'cid', 'rh', 'saude', 'seguranca', 'grd', 'obs_grd', 'data_admissao', 'liberacao_ecoordin', 'envio_cliente'];\n\n    for (const key of comparisonFields) {\n        const vP = (planilhaData[key] === null || planilhaData[key] === undefined) ? '' : String(planilhaData[key]).trim();\n        const vB = (dadosBanco[key] === null || dadosBanco[key] === undefined) ? '' : String(dadosBanco[key]).trim();\n\n        if (vP !== vB) {\n            updateFields[key] = planilhaData[key];\n            hasChanges = true;\n        }\n    }\n\n    if (hasChanges) {\n        results.push({\n            json: {\n                chapa: chapa,\n                operation: 'UPDATE',\n                data: updateFields\n            }\n        });\n    } else {\n        results.push({\n            json: {\n                chapa: chapa,\n                operation: 'SKIP',\n                message: 'Dados idênticos'\n            }\n        });\n    }\n}\n\nreturn results;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -3200,
                -16720
            ],
            "id": "compare_decide",
            "name": "Comparar_Decidir"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.operation }}",
                            "rightValue": "INSERT",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            },
                            "id": "is_insert"
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -2976,
                -16720
            ],
            "id": "router",
            "name": "🔀 Operação?"
        },
        {
            "parameters": {
                "operation": "insert",
                "tableId": "liberation_data"
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -2752,
                -16832
            ],
            "id": "supabase_insert",
            "name": "➕ Supabase: INSERT",
            "credentials": {
                "supabaseApi": {
                    "id": "Edgoxnq69Vx3Bv5T",
                    "name": "Supabase_Sistema"
                }
            }
        },
        {
            "parameters": {
                "operation": "customApiCall",
                "resource": "database",
                "requestMethod": "PATCH",
                "endpoint": "={{ '/liberation_data?chapa=eq.' + $json.chapa }}",
                "jsonParameters": true,
                "options": {
                    "body": "={{ $json.data }}"
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -2752,
                -16608
            ],
            "id": "supabase_update",
            "name": "🔄 Supabase: UPDATE",
            "credentials": {
                "supabaseApi": {
                    "id": "Edgoxnq69Vx3Bv5T",
                    "name": "Supabase_Sistema"
                }
            }
        }
    ],
    "connections": {
        "🚀 Gatilho: Novo Arquivo Drive": {
            "main": [
                [
                    {
                        "node": "⬇️ HTTP: Baixar XLSX",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "⬇️ HTTP: Baixar XLSX": {
            "main": [
                [
                    {
                        "node": "📊 Ler XLSX",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📊 Ler XLSX": {
            "main": [
                [
                    {
                        "node": "Transformar_Dados",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transformar_Dados": {
            "main": [
                [
                    {
                        "node": "Buscar_Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar_Supabase": {
            "main": [
                [
                    {
                        "node": "Comparar_Decidir",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Comparar_Decidir": {
            "main": [
                [
                    {
                        "node": "🔀 Operação?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🔀 Operação?": {
            "main": [
                [
                    {
                        "node": "➕ Supabase: INSERT",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "🔄 Supabase: UPDATE",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    }
}