fluxo json/Google Sheets → Supabase UPSERT Completo (FINAL CORRIGIDO).json
{
  "name": "Google Sheets → Supabase UPSERT Completo (FINAL CORRIGIDO)",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "liberation_data",
        "filters": {}
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3200,
        -16896
      ],
      "id": "68a91845-f272-459e-8437-cd14b3594ce8",
      "name": "🔎 Buscar no Supabase2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Edgoxnq69Vx3Bv5T",
          "name": "Supabase_Sistema"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// DECISÃO ROBUSTA (MAPEAMENTO EM MEMÓRIA)\n// =====================================================\n\n// 1. Pega os 362 itens da PLANILHA (do nó de transformação)\nconst itensPlanilha = $(\"🔄 Transformar dados4\").all();\n\n// 2. Pega TODO o banco que veio da busca (pode vir vazio)\nconst todosNoBanco = $input.all();\n\n// 3. Cria um MAPA do banco pela chapa para busca rápida\nconst bancoMap = {};\nfor (const item of todosNoBanco) {\n  if (item.json && item.json.chapa) {\n    bancoMap[String(item.json.chapa)] = item.json;\n  }\n}\n\n// 4. Mapeia os 362 registros da planilha gerando a ação correta\nreturn itensPlanilha.map(pItem => {\n  const row = pItem.json;\n  const chapa = String(row.chapa);\n  const dadoBanco = bancoMap[chapa];\n\n  // Se não existe no mapa, é INSERT\n  if (!dadoBanco) {\n    return {\n      json: {\n        ...row,\n        operation: 'INSERT'\n      }\n    };\n  }\n\n  // Se existe, comparamos campos para ver se precisa de UPDATE\n  let hasChanges = false;\n  const updateData = {};\n  const ignore = ['id', 'created_at', 'updated_at', 'operation'];\n\n  for (const key of Object.keys(row)) {\n    if (ignore.includes(key)) continue;\n    \n    const valPlanilha = String(row[key] || '').trim();\n    const valBanco = String(dadoBanco[key] || '').trim();\n    \n    if (valPlanilha !== valBanco) {\n      updateData[key] = row[key];\n      hasChanges = true;\n    }\n  }\n\n  return {\n    json: {\n      chapa: row.chapa,\n      operation: hasChanges ? 'UPDATE' : 'SKIP',\n      data: hasChanges ? updateData : null\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2976,
        -17120
      ],
      "id": "88a9bcc8-8a4a-49be-b22d-b113b55356fa",
      "name": "⚖️ Comparar e decidir CORRIGIDO1",
      "notes": "MUDANÇA: Agora compara TODOS os campos, incluindo valores null/vazios.\nIsso permite:\n1. Inserir campos vazios na primeira vez\n2. Detectar quando um campo vazio foi preenchido depois"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.operation }}",
              "rightValue": "INSERT",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "bdf4505b-b8f9-4dcb-86b0-ea8f980209ec"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2848,
        -16880
      ],
      "id": "f18a3b77-ed4d-4489-b128-42749f662aeb",
      "name": "🔀 Operação?2"
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "liberation_data",
        "columns": "chapa,nome,funcao,status,area,cid,rh,saude,seguranca,grd,obs_grd,data_acesso_projeto,data_admissao,liberacao_ecoordin"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2560,
        -17056
      ],
      "id": "8333a3a5-a7ad-45d4-91ea-d7e3b25ce05e",
      "name": "➕ Supabase: INSERT2",
      "credentials": {
        "supabaseApi": {
          "id": "Edgoxnq69Vx3Bv5T",
          "name": "Supabase_Sistema"
        }
      },
      "notes": "Insere novo registro com TODOS os campos da planilha (inclusive vazios)"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "liberation_data",
        "filters": {
          "conditions": [
            {
              "keyName": "chapa",
              "condition": "eq",
              "keyValue": "={{ $json.chapa }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "={{ Object.keys($json.data)[0] }}",
              "fieldValue": "={{ $json.data[Object.keys($json.data)[0]] }}"
            },
            {
              "fieldId": "={{ Object.keys($json.data)[1] }}",
              "fieldValue": "={{ $json.data[Object.keys($json.data)[1]] }}"
            },
            {
              "fieldId": "={{ Object.keys($json.data)[2] }}",
              "fieldValue": "={{ $json.data[Object.keys($json.data)[2]] }}"
            },
            {
              "fieldId": "={{ Object.keys($json.data)[3] }}",
              "fieldValue": "={{ $json.data[Object.keys($json.data)[3]] }}"
            },
            {
              "fieldId": "={{ Object.keys($json.data)[4] }}",
              "fieldValue": "={{ $json.data[Object.keys($json.data)[4]] }}"
            },
            {
              "fieldId": "={{ Object.keys($json.data)[5] }}",
              "fieldValue": "={{ $json.data[Object.keys($json.data)[5]] }}"
            },
            {
              "fieldId": "={{ Object.keys($json.data)[6] }}",
              "fieldValue": "={{ $json.data[Object.keys($json.data)[6]] }}"
            },
            {
              "fieldId": "={{ Object.keys($json.data)[7] }}",
              "fieldValue": "={{ $json.data[Object.keys($json.data)[7]] }}"
            },
            {
              "fieldId": "={{ Object.keys($json.data)[8] }}",
              "fieldValue": "={{ $json.data[Object.keys($json.data)[8]] }}"
            },
            {
              "fieldId": "={{ Object.keys($json.data)[9] }}",
              "fieldValue": "={{ $json.data[Object.keys($json.data)[9]] }}"
            },
            {
              "fieldId": "={{ Object.keys($json.data)[10] }}",
              "fieldValue": "={{ $json.data[Object.keys($json.data)[10]] }}"
            },
            {
              "fieldId": "={{ Object.keys($json.data)[11] }}",
              "fieldValue": "={{ $json.data[Object.keys($json.data)[11]] }}"
            },
            {
              "fieldId": "={{ Object.keys($json.data)[12] }}",
              "fieldValue": "={{ $json.data[Object.keys($json.data)[12]] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2560,
        -16784
      ],
      "id": "23df50b0-5ae3-44c2-9a2e-066000658547",
      "name": "🔄 Supabase: UPDATE2",
      "credentials": {
        "supabaseApi": {
          "id": "Edgoxnq69Vx3Bv5T",
          "name": "Supabase_Sistema"
        }
      },
      "notes": "Atualiza campos que mudaram (incluindo de vazio para preenchido)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -4960,
        -16720
      ],
      "id": "2b89bd52-2ef1-47d3-8b64-3bc99aa1b0e4",
      "name": "⏰ Agendar (a cada 1h)4"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "='1Axzocv5JqWwo3_HYARQgL900mGfyyaOq' in parents and trashed=false and mimeType='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' and name contains 'Controle de Liberação Complexo Azulão 950'"
            },
            {
              "name": "orderBy",
              "value": "modifiedTime desc"
            },
            {
              "name": "fields",
              "value": "files(id,name,modifiedTime)"
            },
            {
              "name": "pageSize",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4752,
        -16720
      ],
      "id": "5bf78a1f-3e32-48aa-9fe6-a00801671a9d",
      "name": "📋 HTTP: Listar arquivo3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tpLkUuyanL84uJZR",
          "name": "Google Drive "
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const files = $json.files || [];\nif (!files.length) throw new Error('Nenhum arquivo encontrado');\nreturn [{ json: files[0] }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4528,
        -16720
      ],
      "id": "7cd3e6f2-3d77-4c02-b6a3-e8efba3626aa",
      "name": "🔍 Pegar mais recente3"
    },
    {
      "parameters": {
        "url": "={{ 'https://www.googleapis.com/drive/v3/files/' + $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "alt",
              "value": "media"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4304,
        -16720
      ],
      "id": "0f6e6a07-c60c-42a7-9b8d-91a71ca787cf",
      "name": "⬇️ HTTP: Baixar XLSX4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tpLkUuyanL84uJZR",
          "name": "Google Drive "
        }
      }
    },
    {
      "parameters": {
        "options": {
          "range": "A7:AZ5000",
          "sheetName": "PR-1 ELECNOR"
        }
      },
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        -4080,
        -16720
      ],
      "id": "6fa7e92d-56dc-4c0a-8dfb-6abe6c80533f",
      "name": "📊 Ler XLSX3"
    },
    {
      "parameters": {
        "jsCode": "/**\n * MAPEAMENTO DE DADOS ROBUSTO: Planilha (Linha 7) -> Tabela liberation_data\n * FILTRO: Liberação E-COORDINA >= 01/01/2026\n */\n\nfunction excelSerialToDate(serial) {\n  const excelEpoch = new Date(Date.UTC(1899, 11, 30));\n  return new Date(excelEpoch.getTime() + Number(serial) * 86400000);\n}\n\nfunction parseDate(value) {\n  if (!value || value === \"\") return null;\n  if (value instanceof Date && !isNaN(value)) return value;\n  if (typeof value === 'number') return excelSerialToDate(value);\n  const str = String(value).trim();\n  const dmy = str.match(/^(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{4})$/);\n  if (dmy) {\n    const [, d, m, y] = dmy;\n    return new Date(Date.UTC(+y, +m - 1, +d));\n  }\n  const iso = new Date(str);\n  return isNaN(iso) ? null : iso;\n}\n\nfunction formatISO(date) {\n  return date ? date.toISOString().split('T')[0] : null;\n}\n\n// Normalização agressiva para ignorar acentos, espaços e caracteres especiais\nfunction normalizeKey(key) {\n  return String(key || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9]/g, '');\n}\n\nfunction getField(row, ...variants) {\n  const keys = Object.keys(row);\n  for (const v of variants) {\n    const target = normalizeKey(v);\n    // 1. Tenta correspondência exata normalizada\n    for (const k of keys) {\n      if (normalizeKey(k) === target) return row[k];\n    }\n    // 2. Tenta correspondência parcial (ex: \\\"GRD\\\" em \\\"GRD.1\\\" ou \\\"GRD (Status)\\\")\n    for (const k of keys) {\n      if (normalizeKey(k).includes(target)) return row[k];\n    }\n  }\n  return null;\n}\n\nconst items = $input.all();\nconst output = [];\nconst DATA_CORTE = new Date(Date.UTC(2026, 0, 1));\n\nfor (const item of items) {\n  const row = item.json || {};\n  \n  const chapa = String(getField(row, 'MAT', 'MATRICULA', 'CHAPA', 'chapa') || '').trim();\n  const nome = String(getField(row, 'NOME', 'NOME COMPLETO', 'nome') || '').trim();\n  \n  if (!chapa || !nome || nome.toUpperCase() === 'NOME' || chapa.toUpperCase() === 'MAT') continue;\n\n  const rawLiberacao = getField(row, 'DATA DE LIBERAÇÃO E-COORDINA', 'DATA DE LIBERACAO E-COORDINA', 'liberacao_ecoordin');\n  const objDateLiberacao = parseDate(rawLiberacao);\n\n  if (!objDateLiberacao || objDateLiberacao < DATA_CORTE) continue;\n\n  const grdValue = String(getField(row, 'GRD') || '').trim().toUpperCase();\n  const statusPlanilha = String(getField(row, 'STATUS CLIENTE', 'STATUS') || '').trim();\n  \n  // NOVA REGRA: Se GRD é \"OK\", força o status para \"LIBERADO\"\n  const statusFinal = (grdValue === 'OK') ? 'LIBERADO' : statusPlanilha;\n\n  const rowData = {\n    chapa,\n    nome,\n    funcao: getField(row, 'FUNÇÃO RM ATUALIZADA', 'FUNCAO', 'CARGO'),\n    area: getField(row, 'AREA DE NEGOCIO', 'AREA'),\n    cid: getField(row, 'CIP DE LIBERAÇÃO', 'CIP'),\n    rh: String(getField(row, 'RH') || '').trim().toUpperCase(),\n    saude: String(getField(row, 'SAÚDE', 'SAUDE') || '').trim().toUpperCase(),\n    seguranca: String(getField(row, 'SEGURANÇA', 'SEGURANCA') || '').trim().toUpperCase(),\n    grd: grdValue,\n    obs_grd: getField(row, 'OBSERVAÇÃO GRD', 'OBS'),\n    status: statusFinal,\n    data_admissao: formatISO(parseDate(getField(row, 'DATA ADMISSÃO', 'ADMISSAO'))),\n    liberacao_ecoordin: formatISO(objDateLiberacao),\n    envio_cliente: formatISO(parseDate(getField(row, 'ENVIO PARA O CLIENTE', 'ENVIO CLIENTE')))\n  };\n\n  output.push({ json: rowData });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3872,
        -16720
      ],
      "id": "c76f36ab-c3f0-401d-9fc4-39b736b294ac",
      "name": "🔄 Transformar dados4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $items().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3648,
        -16720
      ],
      "id": "39cb3e80-6b05-4ed0-9a4e-df59aeb768b3",
      "name": "❓ Tem dados?4"
    },
    {
      "parameters": {
        "jsCode": "// Prepara os dados para a busca no Supabase\nconst items = $input.all();\nconst preparedItems = [];\n\nfor (const item of items) {\n  const rowData = item.json;\n  \n  // Cria um objeto com os dados da planilha e o chapa para busca\n  preparedItems.push({\n    json: {\n      chapa: rowData.chapa,\n      planilha_data: rowData\n    }\n  });\n}\n\nreturn preparedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3424,
        -16800
      ],
      "id": "bf0f8a30-a4c7-4bb9-8741-e008e70d433e",
      "name": "🔍 Preparar busca3"
    }
  ],
  "pinData": {},
  "connections": {
    "🔎 Buscar no Supabase2": {
      "main": [
        [
          {
            "node": "⚖️ Comparar e decidir CORRIGIDO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚖️ Comparar e decidir CORRIGIDO1": {
      "main": [
        [
          {
            "node": "🔀 Operação?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Operação?2": {
      "main": [
        [
          {
            "node": "➕ Supabase: INSERT2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔄 Supabase: UPDATE2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Agendar (a cada 1h)4": {
      "main": [
        [
          {
            "node": "📋 HTTP: Listar arquivo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 HTTP: Listar arquivo3": {
      "main": [
        [
          {
            "node": "🔍 Pegar mais recente3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Pegar mais recente3": {
      "main": [
        [
          {
            "node": "⬇️ HTTP: Baixar XLSX4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⬇️ HTTP: Baixar XLSX4": {
      "main": [
        [
          {
            "node": "📊 Ler XLSX3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Ler XLSX3": {
      "main": [
        [
          {
            "node": "🔄 Transformar dados4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Transformar dados4": {
      "main": [
        [
          {
            "node": "❓ Tem dados?4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Tem dados?4": {
      "main": [
        [
          {
            "node": "🔍 Preparar busca3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Preparar busca3": {
      "main": [
        [
          {
            "node": "🔎 Buscar no Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fb841b30-e79e-46a4-bb4e-a7b1179f6f46",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "efdfc9b5a057cb6246e691bd5c59604d7a02bf1bed5a4eb9344c1cbb89ac8938"
  },
  "id": "PeJLv51hyflP2IuO",
  "tags": []
}